In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
df = pd.read_csv("tmp7t_tskec.csv")

In [37]:
df.head()

,case_no,ap_case_defn_key,status_dttm,status,code,value,description,violation_stno,violation_sthigh,violation_street,...,ward,contact_addr1,contact_addr2,contact_city,contact_state,contact_zip,sam_id,latitude,longitude,location
0,V91983,1013,NaN,Closed,121.2,NaN,Unsafe and Dangerous,302,NaN,Sumner,...,01,302 Sumner St,NaN,East Boston,MA,02128,132380.0,42.367678,-71.036580,"(42.367678491544524, -71.03658037747812)"
1,V794280,1013,2024-10-18 10:50:49,Open,102.8,NaN,Maintenance,13,NaN,Hendry,...,15,23 MILFORD ST,NaN,BOSTON,MA,02118,72884.0,42.309240,-71.064701,"(42.30923953226826, -71.06470057123856)"
2,V794272,1013,2024-10-18 10:20:23,Open,105.1,NaN,Failure to Obtain Permit,263,265,Wood,...,18,264-266 WOOD AVE,NaN,HYDE PARK,MA,02136,151260.0,42.264805,-71.110236,"(42.26480460114925, -71.11023577329959)"
3,V794240,1013,2024-10-18 08:54:21,Open,105.1,NaN,Failure to Obtain Permit,1260,1278,Hyde Park,...,18,1340 CENTRE ST #101,NaN,NEWTON,MA,02459,166502.0,42.255631,-71.123821,"(42.25563130518578, -71.12382083594244)"
4,V794237,1013,2024-10-18 08:33:11,Open,3307.1,NaN,Protection of Adj. Property,117,NaN,Townsend,...,12,42 HOWELL ST,NaN,DORCHESTER,MA,02125,136415.0,42.317870,-71.089701,"(42.31786956561833, -71.0897006077213)"

In [29]:
len(df["contact_zip"].unique())

1434

In [28]:
df["contact_zip"].value_counts()

contact_zip
02128         1140
02124          932
02125          642
02127          591
02136          589
              ...
02121-2012       1
02124-1615       1
02176-1744       1
02130-3301       1
02169-7318       1
Name: count, Length: 1433, dtype: int64

In [38]:
def fix_zip(zip):
    try:
        zip = str(zip)
        zip = zip.split("-")[0]
    except:
        return zip
    return zip

In [39]:
df["contact_zip"] = df["contact_zip"].apply(fix_zip)

In [40]:
df["contact_zip"].value_counts()

contact_zip
02128     1193
02124      985
02125      669
02136      622
02127      618
          ...
07042        1
0215         1
02305        1
012124       1
92024        1
Name: count, Length: 771, dtype: int64

In [ ]:
df["contact_zip"]