<a href='./helper.py'>Link to helper functions</a>

In [145]:
import numpy as np
import pandas as pd

from helper import move_files
from helper import prepare_dataframes
from helper import find_common_column_groups

from helper import seperate_address
from helper import fix_zip_code
from helper import is_in_massachusetts

# Data Preparation Phase

## Sorting Files

Right now, data is organized into school years, 2016-2017, 2017-2018, 2018-2019, 2019-2020, 2020-2021, 2021-2022, 2022-2023, 2023-2024

Before we procede, it is important to make sure that the file names are persisten across universities. This must be done manually. If not sure what should you name the file, cells below contain the filename the script will be looking for, so as long as those match, the code will work

Since there was a lot of files and a lot of renaming, we decided to automate that process using the script 


<i style='font-weight:100; float:right; padding-right: 1.75em'>The cells below correspond to the current phase of data preparation</i>

In [146]:
to = '../data/sorted/universities/BayStateCollege/raw'
move_files('Bay State College', to)

#------------------------------------------------------------------#    #------------------------------------------------------------------#
|                            Moved From                            |    |                             Moved To                             |
#------------------------------------------------------------------#    #------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Bay State College.xlsx |    |  ../data/sorted/universities/BayStateCollege/raw/2016-2017.xlsx  |
| ../data/raw/2017-2018 School Year Reports/Bay State College.xlsx |    |  ../data/sorted/universities/BayStateCollege/raw/2017-2018.xlsx  |
| ../data/raw/2018-2019 School Year Reports/Bay State College.xlsx |    |  ../data/sorted/universities/BayStateCollege/raw/2018-2019.xlsx  |
| ../data/raw/2019-2020 School Year Reports/Bay State College.xlsx |    |  ../data/sorted/universities/BayStateCollege/raw/2019-2020.xlsx  |
| ../data/raw/2020-2021 School Year Reports/Bay State College.xlsx |    |  ../data/sorted/universities/BayStateCollege/raw/2020-2021.xlsx  |
| ../data/raw/2021-2022 School Year Reports/Bay State College.xlsx |    |  ../data/sorted/universities/BayStateCollege/raw/2021-2022.xlsx  |
| ../data/raw/2022-2023 School Year Reports/Bay State College.xlsx |    |  ../data/sorted/universities/BayStateCollege/raw/2022-2023.xlsx  |
#------------------------------------------------------------------#    #------------------------------------------------------------------#

In [147]:
# Berklee College of Music & Boston Conservatory
to = '../data/sorted/universities/BerkleeCollegeMusicBostonConservatory/raw'
move_files('Berklee College of Music-Boston Conservatory', to)

#---------------------------------------------------------------------------------------------#    #---------------------------------------------------------------------------------------------#
|                                         Moved From                                          |    |                                          Moved To                                           |
#---------------------------------------------------------------------------------------------#    #---------------------------------------------------------------------------------------------#
| ../data/raw/2018-2019 School Year Reports/Berklee College of Music-Boston Conservatory.xlsx |    |    ../data/sorted/universities/BerkleeCollegeMusicBostonConservatory/raw/2018-2019.xlsx     |
| ../data/raw/2019-2020 School Year Reports/Berklee College of Music-Boston Conservatory.xlsx |    |    ../data/sorted/universities/BerkleeCollegeMusicBostonConservatory/raw/2019-2020.xlsx     |
| ../data/raw/2020-2021 School Year Reports/Berklee College of Music-Boston Conservatory.xlsx |    |    ../data/sorted/universities/BerkleeCollegeMusicBostonConservatory/raw/2020-2021.xlsx     |
| ../data/raw/2021-2022 School Year Reports/Berklee College of Music-Boston Conservatory.xlsx |    |    ../data/sorted/universities/BerkleeCollegeMusicBostonConservatory/raw/2021-2022.xlsx     |
| ../data/raw/2022-2023 School Year Reports/Berklee College of Music-Boston Conservatory.xlsx |    |    ../data/sorted/universities/BerkleeCollegeMusicBostonConservatory/raw/2022-2023.xlsx     |
| ../data/raw/2023-2024 School Year Reports/Berklee College of Music-Boston Conservatory.xlsx |    |    ../data/sorted/universities/BerkleeCollegeMusicBostonConservatory/raw/2023-2024.xlsx     |
#---------------------------------------------------------------------------------------------#    #---------------------------------------------------------------------------------------------#

In [148]:
dirname = '../data/sorted/universities/BostonArchitecturalCollege/raw'
move_files('Boston Architectural College', dirname)

#-----------------------------------------------------------------------------#    #-----------------------------------------------------------------------------#
|                                 Moved From                                  |    |                                  Moved To                                   |
#-----------------------------------------------------------------------------#    #-----------------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Boston Architectural College.xlsx |    |  ../data/sorted/universities/BostonArchitecturalCollege/raw/2016-2017.xlsx  |
| ../data/raw/2017-2018 School Year Reports/Boston Architectural College.xlsx |    |  ../data/sorted/universities/BostonArchitecturalCollege/raw/2017-2018.xlsx  |
| ../data/raw/2018-2019 School Year Reports/Boston Architectural College.xlsx |    |  ../data/sorted/universities/BostonArchitecturalCollege/raw/2018-2019.xlsx  |
| ../data/raw/2019-2020 School Year Reports/Boston Architectural College.xlsx |    |  ../data/sorted/universities/BostonArchitecturalCollege/raw/2019-2020.xlsx  |
| ../data/raw/2020-2021 School Year Reports/Boston Architectural College.xlsx |    |  ../data/sorted/universities/BostonArchitecturalCollege/raw/2020-2021.xlsx  |
| ../data/raw/2021-2022 School Year Reports/Boston Architectural College.xlsx |    |  ../data/sorted/universities/BostonArchitecturalCollege/raw/2021-2022.xlsx  |
| ../data/raw/2022-2023 School Year Reports/Boston Architectural College.xlsx |    |  ../data/sorted/universities/BostonArchitecturalCollege/raw/2022-2023.xlsx  |
| ../data/raw/2023-2024 School Year Reports/Boston Architectural College.xlsx |    |  ../data/sorted/universities/BostonArchitecturalCollege/raw/2023-2024.xlsx  |
#-----------------------------------------------------------------------------#    #-----------------------------------------------------------------------------#

In [149]:
# Baptist College
dirname = '../data/sorted/universities/BostonBaptistCollege/raw'
move_files('Boston Baptist College', dirname)

#-----------------------------------------------------------------------#    #-----------------------------------------------------------------------#
|                              Moved From                               |    |                               Moved To                                |
#-----------------------------------------------------------------------#    #-----------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Boston Baptist College.xlsx |    |  ../data/sorted/universities/BostonBaptistCollege/raw/2016-2017.xlsx  |
| ../data/raw/2017-2018 School Year Reports/Boston Baptist College.xlsx |    |  ../data/sorted/universities/BostonBaptistCollege/raw/2017-2018.xlsx  |
| ../data/raw/2018-2019 School Year Reports/Boston Baptist College.xlsx |    |  ../data/sorted/universities/BostonBaptistCollege/raw/2018-2019.xlsx  |
| ../data/raw/2019-2020 School Year Reports/Boston Baptist College.xlsx |    |  ../data/sorted/universities/BostonBaptistCollege/raw/2019-2020.xlsx  |
| ../data/raw/2020-2021 School Year Reports/Boston Baptist College.xlsx |    |  ../data/sorted/universities/BostonBaptistCollege/raw/2020-2021.xlsx  |
| ../data/raw/2021-2022 School Year Reports/Boston Baptist College.xlsx |    |  ../data/sorted/universities/BostonBaptistCollege/raw/2021-2022.xlsx  |
| ../data/raw/2022-2023 School Year Reports/Boston Baptist College.xlsx |    |  ../data/sorted/universities/BostonBaptistCollege/raw/2022-2023.xlsx  |
| ../data/raw/2023-2024 School Year Reports/Boston Baptist College.xlsx |    |  ../data/sorted/universities/BostonBaptistCollege/raw/2023-2024.xlsx  |
#-----------------------------------------------------------------------#    #-----------------------------------------------------------------------#

In [150]:
# Boston College, WCAS 
dirname = '../data/sorted/universities/BostonCollegeWCAS/raw'
move_files('Boston College WCAS', dirname)

#--------------------------------------------------------------------#    #--------------------------------------------------------------------#
|                             Moved From                             |    |                              Moved To                              |
#--------------------------------------------------------------------#    #--------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Boston College WCAS.xlsx |    |  ../data/sorted/universities/BostonCollegeWCAS/raw/2016-2017.xlsx  |
| ../data/raw/2018-2019 School Year Reports/Boston College WCAS.xlsx |    |  ../data/sorted/universities/BostonCollegeWCAS/raw/2018-2019.xlsx  |
| ../data/raw/2019-2020 School Year Reports/Boston College WCAS.xlsx |    |  ../data/sorted/universities/BostonCollegeWCAS/raw/2019-2020.xlsx  |
| ../data/raw/2020-2021 School Year Reports/Boston College WCAS.xlsx |    |  ../data/sorted/universities/BostonCollegeWCAS/raw/2020-2021.xlsx  |
| ../data/raw/2021-2022 School Year Reports/Boston College WCAS.xlsx |    |  ../data/sorted/universities/BostonCollegeWCAS/raw/2021-2022.xlsx  |
| ../data/raw/2022-2023 School Year Reports/Boston College WCAS.xlsx |    |  ../data/sorted/universities/BostonCollegeWCAS/raw/2022-2023.xlsx  |
| ../data/raw/2023-2024 School Year Reports/Boston College WCAS.xlsx |    |  ../data/sorted/universities/BostonCollegeWCAS/raw/2023-2024.xlsx  |
#--------------------------------------------------------------------#    #--------------------------------------------------------------------#

In [151]:
# Boston College 
dirname = '../data/sorted/universities/BostonCollege/raw'
move_files('Boston College', dirname)

#---------------------------------------------------------------#    #---------------------------------------------------------------#
|                          Moved From                           |    |                           Moved To                            |
#---------------------------------------------------------------#    #---------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Boston College.xlsx |    | ../data/sorted/universities/BostonCollege/raw/2016-2017.xlsx  |
| ../data/raw/2017-2018 School Year Reports/Boston College.xlsx |    | ../data/sorted/universities/BostonCollege/raw/2017-2018.xlsx  |
| ../data/raw/2018-2019 School Year Reports/Boston College.xlsx |    | ../data/sorted/universities/BostonCollege/raw/2018-2019.xlsx  |
| ../data/raw/2019-2020 School Year Reports/Boston College.xlsx |    | ../data/sorted/universities/BostonCollege/raw/2019-2020.xlsx  |
| ../data/raw/2020-2021 School Year Reports/Boston College.xlsx |    | ../data/sorted/universities/BostonCollege/raw/2020-2021.xlsx  |
| ../data/raw/2021-2022 School Year Reports/Boston College.xlsx |    | ../data/sorted/universities/BostonCollege/raw/2021-2022.xlsx  |
| ../data/raw/2022-2023 School Year Reports/Boston College.xlsx |    | ../data/sorted/universities/BostonCollege/raw/2022-2023.xlsx  |
| ../data/raw/2023-2024 School Year Reports/Boston College.xlsx |    | ../data/sorted/universities/BostonCollege/raw/2023-2024.xlsx  |
#---------------------------------------------------------------#    #---------------------------------------------------------------#

In [152]:
# Boston Conservatory at Berklee
# just read files from the folder
dirname = '../data/sorted/universities/BostonConservatoryBerklee/raw'
move_files('Boston Conservatory at Berklee', dirname)

#-------------------------------------------------------------------------------#    #-------------------------------------------------------------------------------#
|                                  Moved From                                   |    |                                   Moved To                                    |
#-------------------------------------------------------------------------------#    #-------------------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Boston Conservatory at Berklee.xlsx |    |   ../data/sorted/universities/BostonConservatoryBerklee/raw/2016-2017.xlsx    |
| ../data/raw/2017-2018 School Year Reports/Boston Conservatory at Berklee.xlsx |    |   ../data/sorted/universities/BostonConservatoryBerklee/raw/2017-2018.xlsx    |
#-------------------------------------------------------------------------------#    #-------------------------------------------------------------------------------#

In [153]:
# Berklee College of Music
dirname = '../data/sorted/universities/BerkleeCollegeMusic/raw'
move_files('Berklee College of Music', dirname)

#-------------------------------------------------------------------------#    #-------------------------------------------------------------------------#
|                               Moved From                                |    |                                Moved To                                 |
#-------------------------------------------------------------------------#    #-------------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Berklee College of Music.xlsx |    |   ../data/sorted/universities/BerkleeCollegeMusic/raw/2016-2017.xlsx    |
| ../data/raw/2017-2018 School Year Reports/Berklee College of Music.xlsx |    |   ../data/sorted/universities/BerkleeCollegeMusic/raw/2017-2018.xlsx    |
#-------------------------------------------------------------------------#    #-------------------------------------------------------------------------#

In [154]:
# Boston University
dirname = '../data/sorted/universities/BostonUniversity/raw'
move_files('Boston University', dirname)

#------------------------------------------------------------------#    #------------------------------------------------------------------#
|                            Moved From                            |    |                             Moved To                             |
#------------------------------------------------------------------#    #------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Boston University.xlsx |    | ../data/sorted/universities/BostonUniversity/raw/2016-2017.xlsx  |
| ../data/raw/2017-2018 School Year Reports/Boston University.xlsx |    | ../data/sorted/universities/BostonUniversity/raw/2017-2018.xlsx  |
| ../data/raw/2018-2019 School Year Reports/Boston University.xlsx |    | ../data/sorted/universities/BostonUniversity/raw/2018-2019.xlsx  |
| ../data/raw/2019-2020 School Year Reports/Boston University.xlsx |    | ../data/sorted/universities/BostonUniversity/raw/2019-2020.xlsx  |
| ../data/raw/2020-2021 School Year Reports/Boston University.xlsx |    | ../data/sorted/universities/BostonUniversity/raw/2020-2021.xlsx  |
| ../data/raw/2021-2022 School Year Reports/Boston University.xlsx |    | ../data/sorted/universities/BostonUniversity/raw/2021-2022.xlsx  |
| ../data/raw/2022-2023 School Year Reports/Boston University.xlsx |    | ../data/sorted/universities/BostonUniversity/raw/2022-2023.xlsx  |
| ../data/raw/2023-2024 School Year Reports/Boston University.xlsx |    | ../data/sorted/universities/BostonUniversity/raw/2023-2024.xlsx  |
#------------------------------------------------------------------#    #------------------------------------------------------------------#

In [155]:
# Emerson College
dirname = '../data/sorted/universities/EmersonCollege/raw'
move_files('Emerson College', dirname)

#----------------------------------------------------------------#    #----------------------------------------------------------------#
|                           Moved From                           |    |                            Moved To                            |
#----------------------------------------------------------------#    #----------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Emerson College.xlsx |    | ../data/sorted/universities/EmersonCollege/raw/2016-2017.xlsx  |
| ../data/raw/2017-2018 School Year Reports/Emerson College.xlsx |    | ../data/sorted/universities/EmersonCollege/raw/2017-2018.xlsx  |
| ../data/raw/2018-2019 School Year Reports/Emerson College.xlsx |    | ../data/sorted/universities/EmersonCollege/raw/2018-2019.xlsx  |
| ../data/raw/2019-2020 School Year Reports/Emerson College.xlsx |    | ../data/sorted/universities/EmersonCollege/raw/2019-2020.xlsx  |
| ../data/raw/2020-2021 School Year Reports/Emerson College.xlsx |    | ../data/sorted/universities/EmersonCollege/raw/2020-2021.xlsx  |
| ../data/raw/2021-2022 School Year Reports/Emerson College.xlsx |    | ../data/sorted/universities/EmersonCollege/raw/2021-2022.xlsx  |
| ../data/raw/2022-2023 School Year Reports/Emerson College.xlsx |    | ../data/sorted/universities/EmersonCollege/raw/2022-2023.xlsx  |
| ../data/raw/2023-2024 School Year Reports/Emerson College.xlsx |    | ../data/sorted/universities/EmersonCollege/raw/2023-2024.xlsx  |
#----------------------------------------------------------------#    #----------------------------------------------------------------#

In [156]:
# Emmanuel College
dirname = '../data/sorted/universities/EmmanuelCollege/raw'
move_files('Emmanuel College', dirname)

#-----------------------------------------------------------------#    #-----------------------------------------------------------------#
|                           Moved From                            |    |                            Moved To                             |
#-----------------------------------------------------------------#    #-----------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Emmanuel College.xlsx |    | ../data/sorted/universities/EmmanuelCollege/raw/2016-2017.xlsx  |
| ../data/raw/2017-2018 School Year Reports/Emmanuel College.xlsx |    | ../data/sorted/universities/EmmanuelCollege/raw/2017-2018.xlsx  |
| ../data/raw/2018-2019 School Year Reports/Emmanuel College.xlsx |    | ../data/sorted/universities/EmmanuelCollege/raw/2018-2019.xlsx  |
| ../data/raw/2019-2020 School Year Reports/Emmanuel College.xlsx |    | ../data/sorted/universities/EmmanuelCollege/raw/2019-2020.xlsx  |
| ../data/raw/2020-2021 School Year Reports/Emmanuel College.xlsx |    | ../data/sorted/universities/EmmanuelCollege/raw/2020-2021.xlsx  |
| ../data/raw/2021-2022 School Year Reports/Emmanuel College.xlsx |    | ../data/sorted/universities/EmmanuelCollege/raw/2021-2022.xlsx  |
| ../data/raw/2022-2023 School Year Reports/Emmanuel College.xlsx |    | ../data/sorted/universities/EmmanuelCollege/raw/2022-2023.xlsx  |
| ../data/raw/2023-2024 School Year Reports/Emmanuel College.xlsx |    | ../data/sorted/universities/EmmanuelCollege/raw/2023-2024.xlsx  |
#-----------------------------------------------------------------#    #-----------------------------------------------------------------#

In [157]:
# Fisher College
dirname = '../data/sorted/universities/FisherCollege/raw'
move_files('Fisher College', dirname)

#---------------------------------------------------------------#    #---------------------------------------------------------------#
|                          Moved From                           |    |                           Moved To                            |
#---------------------------------------------------------------#    #---------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Fisher College.xlsx |    | ../data/sorted/universities/FisherCollege/raw/2016-2017.xlsx  |
| ../data/raw/2017-2018 School Year Reports/Fisher College.xlsx |    | ../data/sorted/universities/FisherCollege/raw/2017-2018.xlsx  |
| ../data/raw/2018-2019 School Year Reports/Fisher College.xlsx |    | ../data/sorted/universities/FisherCollege/raw/2018-2019.xlsx  |
| ../data/raw/2019-2020 School Year Reports/Fisher College.xlsx |    | ../data/sorted/universities/FisherCollege/raw/2019-2020.xlsx  |
| ../data/raw/2020-2021 School Year Reports/Fisher College.xlsx |    | ../data/sorted/universities/FisherCollege/raw/2020-2021.xlsx  |
| ../data/raw/2021-2022 School Year Reports/Fisher College.xlsx |    | ../data/sorted/universities/FisherCollege/raw/2021-2022.xlsx  |
| ../data/raw/2022-2023 School Year Reports/Fisher College.xlsx |    | ../data/sorted/universities/FisherCollege/raw/2022-2023.xlsx  |
| ../data/raw/2023-2024 School Year Reports/Fisher College.xlsx |    | ../data/sorted/universities/FisherCollege/raw/2023-2024.xlsx  |
#---------------------------------------------------------------#    #---------------------------------------------------------------#

In [158]:
# Franklin Institute of Technology
dirname = '../data/sorted/universities/FranklinInstituteTechnology/raw'
move_files('Franklin Institute of Technology', dirname)

#---------------------------------------------------------------------------------#    #---------------------------------------------------------------------------------#
|                                   Moved From                                    |    |                                    Moved To                                     |
#---------------------------------------------------------------------------------#    #---------------------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Franklin Institute of Technology.xlsx |    |   ../data/sorted/universities/FranklinInstituteTechnology/raw/2016-2017.xlsx    |
| ../data/raw/2017-2018 School Year Reports/Franklin Institute of Technology.xlsx |    |   ../data/sorted/universities/FranklinInstituteTechnology/raw/2017-2018.xlsx    |
| ../data/raw/2018-2019 School Year Reports/Franklin Institute of Technology.xlsx |    |   ../data/sorted/universities/FranklinInstituteTechnology/raw/2018-2019.xlsx    |
| ../data/raw/2019-2020 School Year Reports/Franklin Institute of Technology.xlsx |    |   ../data/sorted/universities/FranklinInstituteTechnology/raw/2019-2020.xlsx    |
| ../data/raw/2020-2021 School Year Reports/Franklin Institute of Technology.xlsx |    |   ../data/sorted/universities/FranklinInstituteTechnology/raw/2020-2021.xlsx    |
| ../data/raw/2021-2022 School Year Reports/Franklin Institute of Technology.xlsx |    |   ../data/sorted/universities/FranklinInstituteTechnology/raw/2021-2022.xlsx    |
| ../data/raw/2022-2023 School Year Reports/Franklin Institute of Technology.xlsx |    |   ../data/sorted/universities/FranklinInstituteTechnology/raw/2022-2023.xlsx    |
| ../data/raw/2023-2024 School Year Reports/Franklin Institute of Technology.xlsx |    |   ../data/sorted/universities/FranklinInstituteTechnology/raw/2023-2024.xlsx    |
#---------------------------------------------------------------------------------#    #---------------------------------------------------------------------------------#

In [159]:
# Harvard University
dirname = '../data/sorted/universities/HarvardUniversity/raw'
move_files('Harvard University', dirname)

#-------------------------------------------------------------------#    #-------------------------------------------------------------------#
|                            Moved From                             |    |                             Moved To                              |
#-------------------------------------------------------------------#    #-------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Harvard University.xlsx |    | ../data/sorted/universities/HarvardUniversity/raw/2016-2017.xlsx  |
| ../data/raw/2017-2018 School Year Reports/Harvard University.xlsx |    | ../data/sorted/universities/HarvardUniversity/raw/2017-2018.xlsx  |
| ../data/raw/2018-2019 School Year Reports/Harvard University.xlsx |    | ../data/sorted/universities/HarvardUniversity/raw/2018-2019.xlsx  |
| ../data/raw/2019-2020 School Year Reports/Harvard University.xlsx |    | ../data/sorted/universities/HarvardUniversity/raw/2019-2020.xlsx  |
| ../data/raw/2020-2021 School Year Reports/Harvard University.xlsx |    | ../data/sorted/universities/HarvardUniversity/raw/2020-2021.xlsx  |
| ../data/raw/2021-2022 School Year Reports/Harvard University.xlsx |    | ../data/sorted/universities/HarvardUniversity/raw/2021-2022.xlsx  |
| ../data/raw/2022-2023 School Year Reports/Harvard University.xlsx |    | ../data/sorted/universities/HarvardUniversity/raw/2022-2023.xlsx  |
| ../data/raw/2023-2024 School Year Reports/Harvard University.xlsx |    | ../data/sorted/universities/HarvardUniversity/raw/2023-2024.xlsx  |
#-------------------------------------------------------------------#    #-------------------------------------------------------------------#

In [160]:
# MA College of Art and Design
dirname = '../data/sorted/universities/MassachusettsCollegeArtDesign/raw'
move_files('Massachusetts College of Art and Design', dirname)

#----------------------------------------------------------------------------------------#    #----------------------------------------------------------------------------------------#
|                                       Moved From                                       |    |                                        Moved To                                        |
#----------------------------------------------------------------------------------------#    #----------------------------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Massachusetts College of Art and Design.xlsx |    |      ../data/sorted/universities/MassachusettsCollegeArtDesign/raw/2016-2017.xlsx      |
| ../data/raw/2017-2018 School Year Reports/Massachusetts College of Art and Design.xlsx |    |      ../data/sorted/universities/MassachusettsCollegeArtDesign/raw/2017-2018.xlsx      |
| ../data/raw/2018-2019 School Year Reports/Massachusetts College of Art and Design.xlsx |    |      ../data/sorted/universities/MassachusettsCollegeArtDesign/raw/2018-2019.xlsx      |
| ../data/raw/2019-2020 School Year Reports/Massachusetts College of Art and Design.xlsx |    |      ../data/sorted/universities/MassachusettsCollegeArtDesign/raw/2019-2020.xlsx      |
| ../data/raw/2020-2021 School Year Reports/Massachusetts College of Art and Design.xlsx |    |      ../data/sorted/universities/MassachusettsCollegeArtDesign/raw/2020-2021.xlsx      |
| ../data/raw/2021-2022 School Year Reports/Massachusetts College of Art and Design.xlsx |    |      ../data/sorted/universities/MassachusettsCollegeArtDesign/raw/2021-2022.xlsx      |
| ../data/raw/2022-2023 School Year Reports/Massachusetts College of Art and Design.xlsx |    |      ../data/sorted/universities/MassachusettsCollegeArtDesign/raw/2022-2023.xlsx      |
| ../data/raw/2023-2024 School Year Reports/Massachusetts College of Art and Design.xlsx |    |      ../data/sorted/universities/MassachusettsCollegeArtDesign/raw/2023-2024.xlsx      |
#----------------------------------------------------------------------------------------#    #----------------------------------------------------------------------------------------#

In [161]:
# Massachusetts College of Pharmacy and Health Sciences
dirname = '../data/sorted/universities/MassachusettsCollegePharmacyHealthSciences/raw'
move_files('Massachusetts College of Pharmacy and Health Sciences', dirname)

#------------------------------------------------------------------------------------------------------#    #------------------------------------------------------------------------------------------------------#
|                                              Moved From                                              |    |                                               Moved To                                               |
#------------------------------------------------------------------------------------------------------#    #------------------------------------------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Massachusetts College of Pharmacy and Health Sciences.xlsx |    |      ../data/sorted/universities/MassachusettsCollegePharmacyHealthSciences/raw/2016-2017.xlsx       |
| ../data/raw/2017-2018 School Year Reports/Massachusetts College of Pharmacy and Health Sciences.xlsx |    |      ../data/sorted/universities/MassachusettsCollegePharmacyHealthSciences/raw/2017-2018.xlsx       |
| ../data/raw/2018-2019 School Year Reports/Massachusetts College of Pharmacy and Health Sciences.xlsx |    |      ../data/sorted/universities/MassachusettsCollegePharmacyHealthSciences/raw/2018-2019.xlsx       |
| ../data/raw/2019-2020 School Year Reports/Massachusetts College of Pharmacy and Health Sciences.xlsx |    |      ../data/sorted/universities/MassachusettsCollegePharmacyHealthSciences/raw/2019-2020.xlsx       |
| ../data/raw/2020-2021 School Year Reports/Massachusetts College of Pharmacy and Health Sciences.xlsx |    |      ../data/sorted/universities/MassachusettsCollegePharmacyHealthSciences/raw/2020-2021.xlsx       |
| ../data/raw/2021-2022 School Year Reports/Massachusetts College of Pharmacy and Health Sciences.xlsx |    |      ../data/sorted/universities/MassachusettsCollegePharmacyHealthSciences/raw/2021-2022.xlsx       |
| ../data/raw/2022-2023 School Year Reports/Massachusetts College of Pharmacy and Health Sciences.xlsx |    |      ../data/sorted/universities/MassachusettsCollegePharmacyHealthSciences/raw/2022-2023.xlsx       |
| ../data/raw/2023-2024 School Year Reports/Massachusetts College of Pharmacy and Health Sciences.xlsx |    |      ../data/sorted/universities/MassachusettsCollegePharmacyHealthSciences/raw/2023-2024.xlsx       |
#------------------------------------------------------------------------------------------------------#    #------------------------------------------------------------------------------------------------------#

In [162]:
# Massachusetts Institute of Technology
dirname = '../data/sorted/universities/MassachusettsInstituteTechnology/raw'
move_files('Massachusetts Institute of Technology', dirname)

#--------------------------------------------------------------------------------------#    #--------------------------------------------------------------------------------------#
|                                      Moved From                                      |    |                                       Moved To                                       |
#--------------------------------------------------------------------------------------#    #--------------------------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Massachusetts Institute of Technology.xlsx |    |   ../data/sorted/universities/MassachusettsInstituteTechnology/raw/2016-2017.xlsx    |
| ../data/raw/2017-2018 School Year Reports/Massachusetts Institute of Technology.xlsx |    |   ../data/sorted/universities/MassachusettsInstituteTechnology/raw/2017-2018.xlsx    |
| ../data/raw/2018-2019 School Year Reports/Massachusetts Institute of Technology.xlsx |    |   ../data/sorted/universities/MassachusettsInstituteTechnology/raw/2018-2019.xlsx    |
| ../data/raw/2019-2020 School Year Reports/Massachusetts Institute of Technology.xlsx |    |   ../data/sorted/universities/MassachusettsInstituteTechnology/raw/2019-2020.xlsx    |
| ../data/raw/2020-2021 School Year Reports/Massachusetts Institute of Technology.xlsx |    |   ../data/sorted/universities/MassachusettsInstituteTechnology/raw/2020-2021.xlsx    |
| ../data/raw/2021-2022 School Year Reports/Massachusetts Institute of Technology.xlsx |    |   ../data/sorted/universities/MassachusettsInstituteTechnology/raw/2021-2022.xlsx    |
| ../data/raw/2022-2023 School Year Reports/Massachusetts Institute of Technology.xlsx |    |   ../data/sorted/universities/MassachusettsInstituteTechnology/raw/2022-2023.xlsx    |
| ../data/raw/2023-2024 School Year Reports/Massachusetts Institute of Technology.xlsx |    |   ../data/sorted/universities/MassachusettsInstituteTechnology/raw/2023-2024.xlsx    |
#--------------------------------------------------------------------------------------#    #--------------------------------------------------------------------------------------#

In [163]:
# MGH Institute of Health Professions
dirname = '../data/sorted/universities/MGHInstituteHealthProfessions/raw'
move_files('MGH Institute of Health Professions', dirname)

#------------------------------------------------------------------------------------#    #------------------------------------------------------------------------------------#
|                                     Moved From                                     |    |                                      Moved To                                      |
#------------------------------------------------------------------------------------#    #------------------------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/MGH Institute of Health Professions.xlsx |    |    ../data/sorted/universities/MGHInstituteHealthProfessions/raw/2016-2017.xlsx    |
| ../data/raw/2017-2018 School Year Reports/MGH Institute of Health Professions.xlsx |    |    ../data/sorted/universities/MGHInstituteHealthProfessions/raw/2017-2018.xlsx    |
| ../data/raw/2018-2019 School Year Reports/MGH Institute of Health Professions.xlsx |    |    ../data/sorted/universities/MGHInstituteHealthProfessions/raw/2018-2019.xlsx    |
| ../data/raw/2019-2020 School Year Reports/MGH Institute of Health Professions.xlsx |    |    ../data/sorted/universities/MGHInstituteHealthProfessions/raw/2019-2020.xlsx    |
| ../data/raw/2020-2021 School Year Reports/MGH Institute of Health Professions.xlsx |    |    ../data/sorted/universities/MGHInstituteHealthProfessions/raw/2020-2021.xlsx    |
| ../data/raw/2021-2022 School Year Reports/MGH Institute of Health Professions.xlsx |    |    ../data/sorted/universities/MGHInstituteHealthProfessions/raw/2021-2022.xlsx    |
| ../data/raw/2022-2023 School Year Reports/MGH Institute of Health Professions.xlsx |    |    ../data/sorted/universities/MGHInstituteHealthProfessions/raw/2022-2023.xlsx    |
| ../data/raw/2023-2024 School Year Reports/MGH Institute of Health Professions.xlsx |    |    ../data/sorted/universities/MGHInstituteHealthProfessions/raw/2023-2024.xlsx    |
#------------------------------------------------------------------------------------#    #------------------------------------------------------------------------------------#

In [164]:
# New England College of Optometry
dirname = '../data/sorted/universities/NewEnglandCollegeOptometry/raw'
move_files('New England College of Optometry', dirname)

#---------------------------------------------------------------------------------#    #---------------------------------------------------------------------------------#
|                                   Moved From                                    |    |                                    Moved To                                     |
#---------------------------------------------------------------------------------#    #---------------------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/New England College of Optometry.xlsx |    |    ../data/sorted/universities/NewEnglandCollegeOptometry/raw/2016-2017.xlsx    |
| ../data/raw/2017-2018 School Year Reports/New England College of Optometry.xlsx |    |    ../data/sorted/universities/NewEnglandCollegeOptometry/raw/2017-2018.xlsx    |
| ../data/raw/2018-2019 School Year Reports/New England College of Optometry.xlsx |    |    ../data/sorted/universities/NewEnglandCollegeOptometry/raw/2018-2019.xlsx    |
| ../data/raw/2019-2020 School Year Reports/New England College of Optometry.xlsx |    |    ../data/sorted/universities/NewEnglandCollegeOptometry/raw/2019-2020.xlsx    |
| ../data/raw/2020-2021 School Year Reports/New England College of Optometry.xlsx |    |    ../data/sorted/universities/NewEnglandCollegeOptometry/raw/2020-2021.xlsx    |
| ../data/raw/2021-2022 School Year Reports/New England College of Optometry.xlsx |    |    ../data/sorted/universities/NewEnglandCollegeOptometry/raw/2021-2022.xlsx    |
| ../data/raw/2022-2023 School Year Reports/New England College of Optometry.xlsx |    |    ../data/sorted/universities/NewEnglandCollegeOptometry/raw/2022-2023.xlsx    |
| ../data/raw/2023-2024 School Year Reports/New England College of Optometry.xlsx |    |    ../data/sorted/universities/NewEnglandCollegeOptometry/raw/2023-2024.xlsx    |
#---------------------------------------------------------------------------------#    #---------------------------------------------------------------------------------#

In [165]:
# New England Conservatory
dirname = '../data/sorted/universities/NewEnglandConservatory/raw'
move_files('New England Conservatory', dirname)

#-------------------------------------------------------------------------#    #-------------------------------------------------------------------------#
|                               Moved From                                |    |                                Moved To                                 |
#-------------------------------------------------------------------------#    #-------------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/New England Conservatory.xlsx |    |  ../data/sorted/universities/NewEnglandConservatory/raw/2016-2017.xlsx  |
| ../data/raw/2017-2018 School Year Reports/New England Conservatory.xlsx |    |  ../data/sorted/universities/NewEnglandConservatory/raw/2017-2018.xlsx  |
| ../data/raw/2018-2019 School Year Reports/New England Conservatory.xlsx |    |  ../data/sorted/universities/NewEnglandConservatory/raw/2018-2019.xlsx  |
| ../data/raw/2019-2020 School Year Reports/New England Conservatory.xlsx |    |  ../data/sorted/universities/NewEnglandConservatory/raw/2019-2020.xlsx  |
| ../data/raw/2020-2021 School Year Reports/New England Conservatory.xlsx |    |  ../data/sorted/universities/NewEnglandConservatory/raw/2020-2021.xlsx  |
| ../data/raw/2021-2022 School Year Reports/New England Conservatory.xlsx |    |  ../data/sorted/universities/NewEnglandConservatory/raw/2021-2022.xlsx  |
| ../data/raw/2022-2023 School Year Reports/New England Conservatory.xlsx |    |  ../data/sorted/universities/NewEnglandConservatory/raw/2022-2023.xlsx  |
| ../data/raw/2023-2024 School Year Reports/New England Conservatory.xlsx |    |  ../data/sorted/universities/NewEnglandConservatory/raw/2023-2024.xlsx  |
#-------------------------------------------------------------------------#    #-------------------------------------------------------------------------#

In [166]:
# New England Law
dirname = '../data/sorted/universities/NewEnglandLaw/raw'
move_files('New England Law', dirname)

#----------------------------------------------------------------#    #----------------------------------------------------------------#
|                           Moved From                           |    |                            Moved To                            |
#----------------------------------------------------------------#    #----------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/New England Law.xlsx |    |  ../data/sorted/universities/NewEnglandLaw/raw/2016-2017.xlsx  |
| ../data/raw/2017-2018 School Year Reports/New England Law.xlsx |    |  ../data/sorted/universities/NewEnglandLaw/raw/2017-2018.xlsx  |
| ../data/raw/2018-2019 School Year Reports/New England Law.xlsx |    |  ../data/sorted/universities/NewEnglandLaw/raw/2018-2019.xlsx  |
| ../data/raw/2019-2020 School Year Reports/New England Law.xlsx |    |  ../data/sorted/universities/NewEnglandLaw/raw/2019-2020.xlsx  |
| ../data/raw/2020-2021 School Year Reports/New England Law.xlsx |    |  ../data/sorted/universities/NewEnglandLaw/raw/2020-2021.xlsx  |
| ../data/raw/2021-2022 School Year Reports/New England Law.xlsx |    |  ../data/sorted/universities/NewEnglandLaw/raw/2021-2022.xlsx  |
| ../data/raw/2022-2023 School Year Reports/New England Law.xlsx |    |  ../data/sorted/universities/NewEnglandLaw/raw/2022-2023.xlsx  |
| ../data/raw/2023-2024 School Year Reports/New England Law.xlsx |    |  ../data/sorted/universities/NewEnglandLaw/raw/2023-2024.xlsx  |
#----------------------------------------------------------------#    #----------------------------------------------------------------#

In [167]:
# Simmons College
dirname = '../data/sorted/universities/SimmonsCollege/raw'
move_files('Simmons University', dirname)

#-------------------------------------------------------------------#    #-------------------------------------------------------------------#
|                            Moved From                             |    |                             Moved To                              |
#-------------------------------------------------------------------#    #-------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Simmons University.xlsx |    |   ../data/sorted/universities/SimmonsCollege/raw/2016-2017.xlsx   |
| ../data/raw/2017-2018 School Year Reports/Simmons University.xlsx |    |   ../data/sorted/universities/SimmonsCollege/raw/2017-2018.xlsx   |
| ../data/raw/2018-2019 School Year Reports/Simmons University.xlsx |    |   ../data/sorted/universities/SimmonsCollege/raw/2018-2019.xlsx   |
| ../data/raw/2019-2020 School Year Reports/Simmons University.xlsx |    |   ../data/sorted/universities/SimmonsCollege/raw/2019-2020.xlsx   |
| ../data/raw/2020-2021 School Year Reports/Simmons University.xlsx |    |   ../data/sorted/universities/SimmonsCollege/raw/2020-2021.xlsx   |
| ../data/raw/2021-2022 School Year Reports/Simmons University.xlsx |    |   ../data/sorted/universities/SimmonsCollege/raw/2021-2022.xlsx   |
| ../data/raw/2022-2023 School Year Reports/Simmons University.xlsx |    |   ../data/sorted/universities/SimmonsCollege/raw/2022-2023.xlsx   |
| ../data/raw/2023-2024 School Year Reports/Simmons University.xlsx |    |   ../data/sorted/universities/SimmonsCollege/raw/2023-2024.xlsx   |
#-------------------------------------------------------------------#    #-------------------------------------------------------------------#

In [168]:
# St. John's Seminary
dirname = '../data/sorted/universities/StJohnsSeminary/raw'
move_files("St. John's Seminary", dirname)

#--------------------------------------------------------------------#    #--------------------------------------------------------------------#
|                             Moved From                             |    |                              Moved To                              |
#--------------------------------------------------------------------#    #--------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/St. John's Seminary.xlsx |    |   ../data/sorted/universities/StJohnsSeminary/raw/2016-2017.xlsx   |
| ../data/raw/2017-2018 School Year Reports/St. John's Seminary.xlsx |    |   ../data/sorted/universities/StJohnsSeminary/raw/2017-2018.xlsx   |
| ../data/raw/2018-2019 School Year Reports/St. John's Seminary.xlsx |    |   ../data/sorted/universities/StJohnsSeminary/raw/2018-2019.xlsx   |
| ../data/raw/2019-2020 School Year Reports/St. John's Seminary.xlsx |    |   ../data/sorted/universities/StJohnsSeminary/raw/2019-2020.xlsx   |
| ../data/raw/2020-2021 School Year Reports/St. John's Seminary.xlsx |    |   ../data/sorted/universities/StJohnsSeminary/raw/2020-2021.xlsx   |
| ../data/raw/2021-2022 School Year Reports/St. John's Seminary.xlsx |    |   ../data/sorted/universities/StJohnsSeminary/raw/2021-2022.xlsx   |
| ../data/raw/2022-2023 School Year Reports/St. John's Seminary.xlsx |    |   ../data/sorted/universities/StJohnsSeminary/raw/2022-2023.xlsx   |
| ../data/raw/2023-2024 School Year Reports/St. John's Seminary.xlsx |    |   ../data/sorted/universities/StJohnsSeminary/raw/2023-2024.xlsx   |
#--------------------------------------------------------------------#    #--------------------------------------------------------------------#

In [169]:
# Suffolk University
dirname = '../data/sorted/universities/SuffolkUniversity/raw'
move_files('Suffolk University', dirname)

#-------------------------------------------------------------------#    #-------------------------------------------------------------------#
|                            Moved From                             |    |                             Moved To                              |
#-------------------------------------------------------------------#    #-------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Suffolk University.xlsx |    | ../data/sorted/universities/SuffolkUniversity/raw/2016-2017.xlsx  |
| ../data/raw/2017-2018 School Year Reports/Suffolk University.xlsx |    | ../data/sorted/universities/SuffolkUniversity/raw/2017-2018.xlsx  |
| ../data/raw/2018-2019 School Year Reports/Suffolk University.xlsx |    | ../data/sorted/universities/SuffolkUniversity/raw/2018-2019.xlsx  |
| ../data/raw/2019-2020 School Year Reports/Suffolk University.xlsx |    | ../data/sorted/universities/SuffolkUniversity/raw/2019-2020.xlsx  |
| ../data/raw/2020-2021 School Year Reports/Suffolk University.xlsx |    | ../data/sorted/universities/SuffolkUniversity/raw/2020-2021.xlsx  |
| ../data/raw/2021-2022 School Year Reports/Suffolk University.xlsx |    | ../data/sorted/universities/SuffolkUniversity/raw/2021-2022.xlsx  |
| ../data/raw/2022-2023 School Year Reports/Suffolk University.xlsx |    | ../data/sorted/universities/SuffolkUniversity/raw/2022-2023.xlsx  |
| ../data/raw/2023-2024 School Year Reports/Suffolk University.xlsx |    | ../data/sorted/universities/SuffolkUniversity/raw/2023-2024.xlsx  |
#-------------------------------------------------------------------#    #-------------------------------------------------------------------#

In [170]:
# Wheelock College
dirname = '../data/sorted/universities/WheelockCollege/raw'
move_files('Wheelock College', dirname)

#-----------------------------------------------------------------#    #-----------------------------------------------------------------#
|                           Moved From                            |    |                            Moved To                             |
#-----------------------------------------------------------------#    #-----------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Wheelock College.xlsx |    | ../data/sorted/universities/WheelockCollege/raw/2016-2017.xlsx  |
| ../data/raw/2017-2018 School Year Reports/Wheelock College.xlsx |    | ../data/sorted/universities/WheelockCollege/raw/2017-2018.xlsx  |
#-----------------------------------------------------------------#    #-----------------------------------------------------------------#

In [171]:
# Wentworth Institute of Technology
dirname = '../data/sorted/universities/WentworthInstituteTechnology/raw'
move_files('Wentworth Institute of Technology', dirname)

#----------------------------------------------------------------------------------#    #----------------------------------------------------------------------------------#
|                                    Moved From                                    |    |                                     Moved To                                     |
#----------------------------------------------------------------------------------#    #----------------------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Wentworth Institute of Technology.xlsx |    |   ../data/sorted/universities/WentworthInstituteTechnology/raw/2016-2017.xlsx    |
| ../data/raw/2017-2018 School Year Reports/Wentworth Institute of Technology.xlsx |    |   ../data/sorted/universities/WentworthInstituteTechnology/raw/2017-2018.xlsx    |
| ../data/raw/2018-2019 School Year Reports/Wentworth Institute of Technology.xlsx |    |   ../data/sorted/universities/WentworthInstituteTechnology/raw/2018-2019.xlsx    |
| ../data/raw/2019-2020 School Year Reports/Wentworth Institute of Technology.xlsx |    |   ../data/sorted/universities/WentworthInstituteTechnology/raw/2019-2020.xlsx    |
| ../data/raw/2020-2021 School Year Reports/Wentworth Institute of Technology.xlsx |    |   ../data/sorted/universities/WentworthInstituteTechnology/raw/2020-2021.xlsx    |
| ../data/raw/2021-2022 School Year Reports/Wentworth Institute of Technology.xlsx |    |   ../data/sorted/universities/WentworthInstituteTechnology/raw/2021-2022.xlsx    |
| ../data/raw/2022-2023 School Year Reports/Wentworth Institute of Technology.xlsx |    |   ../data/sorted/universities/WentworthInstituteTechnology/raw/2022-2023.xlsx    |
| ../data/raw/2023-2024 School Year Reports/Wentworth Institute of Technology.xlsx |    |   ../data/sorted/universities/WentworthInstituteTechnology/raw/2023-2024.xlsx    |
#----------------------------------------------------------------------------------#    #----------------------------------------------------------------------------------#

In [172]:
# Urban College of Boston
dirname = '../data/sorted/universities/UrbanCollegeBoston/raw'
move_files('Urban College of Boston', dirname)

#------------------------------------------------------------------------#    #------------------------------------------------------------------------#
|                               Moved From                               |    |                                Moved To                                |
#------------------------------------------------------------------------#    #------------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Urban College of Boston.xlsx |    |   ../data/sorted/universities/UrbanCollegeBoston/raw/2016-2017.xlsx    |
| ../data/raw/2017-2018 School Year Reports/Urban College of Boston.xlsx |    |   ../data/sorted/universities/UrbanCollegeBoston/raw/2017-2018.xlsx    |
| ../data/raw/2018-2019 School Year Reports/Urban College of Boston.xlsx |    |   ../data/sorted/universities/UrbanCollegeBoston/raw/2018-2019.xlsx    |
| ../data/raw/2019-2020 School Year Reports/Urban College of Boston.xlsx |    |   ../data/sorted/universities/UrbanCollegeBoston/raw/2019-2020.xlsx    |
| ../data/raw/2020-2021 School Year Reports/Urban College of Boston.xlsx |    |   ../data/sorted/universities/UrbanCollegeBoston/raw/2020-2021.xlsx    |
| ../data/raw/2021-2022 School Year Reports/Urban College of Boston.xlsx |    |   ../data/sorted/universities/UrbanCollegeBoston/raw/2021-2022.xlsx    |
| ../data/raw/2022-2023 School Year Reports/Urban College of Boston.xlsx |    |   ../data/sorted/universities/UrbanCollegeBoston/raw/2022-2023.xlsx    |
| ../data/raw/2023-2024 School Year Reports/Urban College of Boston.xlsx |    |   ../data/sorted/universities/UrbanCollegeBoston/raw/2023-2024.xlsx    |
#------------------------------------------------------------------------#    #------------------------------------------------------------------------#

In [173]:
# University of Massachusetts
dirname = '../data/sorted/universities/UniversityMassachusetts/raw'
move_files('University of Massachusetts', dirname)

#-----------------------------------------------------------------------------------#    #-----------------------------------------------------------------------------------#
|                                    Moved From                                     |    |                                     Moved To                                      |
#-----------------------------------------------------------------------------------#    #-----------------------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/University of Massachusetts-Boston.xlsx |    |      ../data/sorted/universities/UniversityMassachusetts/raw/2016-2017.xlsx       |
| ../data/raw/2017-2018 School Year Reports/University of Massachusetts-Boston.xlsx |    |      ../data/sorted/universities/UniversityMassachusetts/raw/2017-2018.xlsx       |
| ../data/raw/2018-2019 School Year Reports/University of Massachusetts-Boston.xlsx |    |      ../data/sorted/universities/UniversityMassachusetts/raw/2018-2019.xlsx       |
| ../data/raw/2019-2020 School Year Reports/University of Massachusetts Boston.xlsx |    |      ../data/sorted/universities/UniversityMassachusetts/raw/2019-2020.xlsx       |
| ../data/raw/2020-2021 School Year Reports/University of Massachusetts Boston.xlsx |    |      ../data/sorted/universities/UniversityMassachusetts/raw/2020-2021.xlsx       |
| ../data/raw/2021-2022 School Year Reports/University of Massachusetts-Boston.xlsx |    |      ../data/sorted/universities/UniversityMassachusetts/raw/2021-2022.xlsx       |
| ../data/raw/2022-2023 School Year Reports/University of Massachusetts-Boston.xlsx |    |      ../data/sorted/universities/UniversityMassachusetts/raw/2022-2023.xlsx       |
| ../data/raw/2023-2024 School Year Reports/University of Massachusetts-Boston.xlsx |    |      ../data/sorted/universities/UniversityMassachusetts/raw/2023-2024.xlsx       |
#-----------------------------------------------------------------------------------#    #-----------------------------------------------------------------------------------#

In [174]:
# SHOWA Boston Institute
dirname = '../data/sorted/universities/SHOWABostonInstitute/raw'
move_files('SHOWA Boston Institute', dirname)

#-----------------------------------------------------------------------#    #-----------------------------------------------------------------------#
|                              Moved From                               |    |                               Moved To                                |
#-----------------------------------------------------------------------#    #-----------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/SHOWA Boston Institute.xlsx |    |  ../data/sorted/universities/SHOWABostonInstitute/raw/2016-2017.xlsx  |
| ../data/raw/2017-2018 School Year Reports/SHOWA Boston Institute.xlsx |    |  ../data/sorted/universities/SHOWABostonInstitute/raw/2017-2018.xlsx  |
| ../data/raw/2018-2019 School Year Reports/SHOWA Boston Institute.xlsx |    |  ../data/sorted/universities/SHOWABostonInstitute/raw/2018-2019.xlsx  |
| ../data/raw/2019-2020 School Year Reports/SHOWA Boston Institute.xlsx |    |  ../data/sorted/universities/SHOWABostonInstitute/raw/2019-2020.xlsx  |
| ../data/raw/2020-2021 School Year Reports/SHOWA Boston Institute.xlsx |    |  ../data/sorted/universities/SHOWABostonInstitute/raw/2020-2021.xlsx  |
| ../data/raw/2021-2022 School Year Reports/SHOWA Boston Institute.xlsx |    |  ../data/sorted/universities/SHOWABostonInstitute/raw/2021-2022.xlsx  |
| ../data/raw/2022-2023 School Year Reports/SHOWA Boston Institute.xlsx |    |  ../data/sorted/universities/SHOWABostonInstitute/raw/2022-2023.xlsx  |
| ../data/raw/2023-2024 School Year Reports/SHOWA Boston Institute.xlsx |    |  ../data/sorted/universities/SHOWABostonInstitute/raw/2023-2024.xlsx  |
#-----------------------------------------------------------------------#    #-----------------------------------------------------------------------#

In [175]:
# Tufts University
dirname = '../data/sorted/universities/TuftsUniversity/raw'
move_files('Tufts University', dirname)

#-----------------------------------------------------------------#    #-----------------------------------------------------------------#
|                           Moved From                            |    |                            Moved To                             |
#-----------------------------------------------------------------#    #-----------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Tufts University.xlsx |    | ../data/sorted/universities/TuftsUniversity/raw/2016-2017.xlsx  |
| ../data/raw/2017-2018 School Year Reports/Tufts University.xlsx |    | ../data/sorted/universities/TuftsUniversity/raw/2017-2018.xlsx  |
| ../data/raw/2018-2019 School Year Reports/Tufts University.xlsx |    | ../data/sorted/universities/TuftsUniversity/raw/2018-2019.xlsx  |
| ../data/raw/2019-2020 School Year Reports/Tufts University.xlsx |    | ../data/sorted/universities/TuftsUniversity/raw/2019-2020.xlsx  |
| ../data/raw/2020-2021 School Year Reports/Tufts University.xlsx |    | ../data/sorted/universities/TuftsUniversity/raw/2020-2021.xlsx  |
| ../data/raw/2021-2022 School Year Reports/Tufts University.xlsx |    | ../data/sorted/universities/TuftsUniversity/raw/2021-2022.xlsx  |
| ../data/raw/2022-2023 School Year Reports/Tufts University.xlsx |    | ../data/sorted/universities/TuftsUniversity/raw/2022-2023.xlsx  |
| ../data/raw/2023-2024 School Year Reports/Tufts University.xlsx |    | ../data/sorted/universities/TuftsUniversity/raw/2023-2024.xlsx  |
#-----------------------------------------------------------------#    #-----------------------------------------------------------------#

In [176]:
# Sattler College
dirname = '../data/sorted/universities/SattlerCollege/raw'
move_files('Sattler College', dirname)

#----------------------------------------------------------------#    #----------------------------------------------------------------#
|                           Moved From                           |    |                            Moved To                            |
#----------------------------------------------------------------#    #----------------------------------------------------------------#
| ../data/raw/2020-2021 School Year Reports/Sattler College.xlsx |    | ../data/sorted/universities/SattlerCollege/raw/2020-2021.xlsx  |
| ../data/raw/2021-2022 School Year Reports/Sattler College.xlsx |    | ../data/sorted/universities/SattlerCollege/raw/2021-2022.xlsx  |
| ../data/raw/2022-2023 School Year Reports/Sattler College.xlsx |    | ../data/sorted/universities/SattlerCollege/raw/2022-2023.xlsx  |
#----------------------------------------------------------------#    #----------------------------------------------------------------#

In [177]:
# Northeastern University
dirname = '../data/sorted/universities/NortheasternUniversity/raw'
move_files('Northeastern University', dirname)

#------------------------------------------------------------------------#    #------------------------------------------------------------------------#
|                               Moved From                               |    |                                Moved To                                |
#------------------------------------------------------------------------#    #------------------------------------------------------------------------#
| ../data/raw/2016-2017 School Year Reports/Northeastern University.xlsx |    | ../data/sorted/universities/NortheasternUniversity/raw/2016-2017.xlsx  |
| ../data/raw/2017-2018 School Year Reports/Northeastern University.xlsx |    | ../data/sorted/universities/NortheasternUniversity/raw/2017-2018.xlsx  |
| ../data/raw/2018-2019 School Year Reports/Northeastern University.xlsx |    | ../data/sorted/universities/NortheasternUniversity/raw/2018-2019.xlsx  |
| ../data/raw/2019-2020 School Year Reports/Northeastern University.xlsx |    | ../data/sorted/universities/NortheasternUniversity/raw/2019-2020.xlsx  |
| ../data/raw/2020-2021 School Year Reports/Northeastern University.xlsx |    | ../data/sorted/universities/NortheasternUniversity/raw/2020-2021.xlsx  |
| ../data/raw/2021-2022 School Year Reports/Northeastern University.xlsx |    | ../data/sorted/universities/NortheasternUniversity/raw/2021-2022.xlsx  |
| ../data/raw/2022-2023 School Year Reports/Northeastern University.xlsx |    | ../data/sorted/universities/NortheasternUniversity/raw/2022-2023.xlsx  |
| ../data/raw/2023-2024 School Year Reports/Northeastern University.xlsx |    | ../data/sorted/universities/NortheasternUniversity/raw/2023-2024.xlsx  |
#------------------------------------------------------------------------#    #------------------------------------------------------------------------#

## Cleaning and Merging

After moving everything, we had to merge the data and clean it.

First, we decided to come up with a universal format we want the finalized the dataset to have, the format is built by considering what columns are usefull and what are not while manually inspecting the files.

This is the final columns we decided to keep

<table>
        <tr>
                <td> Columns </td>
                <td> Type </td>
                <td> Original Equivalent </td>
        </tr>
        <tr>
                <td>street_number</td>
                <td>String</td>
                <td>Street #</td>
        </tr>
        <tr>
                <td>street_name</td>
                <td>String</td>
                <td>Street Name</td>
        </tr>
        <tr>
                <td>steet_suffix</td>
                <td>String</td>
                <td>Street Suffix</td>
        </tr>
        <tr>
                <td>unit_number</td>
                <td>String</td>
                <td>Unit #</td>
        </tr>
        <tr>
                <td>zip_code</td>
                <td>String</td>
                <td>Zip</td>
        </tr>
        <tr>
                <td>level_of_study</td>
                <td>String</td>
                <td>Undergraduate (U) or Graduate (G)</td>
        </tr>
        <tr>
                <td>full_time</td>
                <td>String</td>
                <td>Full-time (FT) or Part-time (PT)</td>
        </tr>
        <tr>
                <td>extra_large_unit</td>
                <td>String</td>
                <td>5 or More Undergrads/Unit</td>
        </tr>
        <tr>
                <td>at_home</td>
                <td>String</td>
                <td>At-Home or Not-at-Home</td>
        </tr>
        <tr>
                <td>year_range</td>
                <td>String</td>
                <td>N/A</td>
        </tr>
        <tr>
                <td>university</td>
                <td>String</td>
                <td>N/A</td>
        </tr>
</table>

The last two columns were added by us, the ```university``` column corresponds to the university the data entries correspond to, also the ```year_range``` is the time frame that data was collected for. We did this so we do not lose track of years and universities which could possibly allows us to visualize more in depth and answer questions that might be related to a specific university or a specific data range.

### Minor roadblock

Upon inspecting the data, we realized we can't start code-based cleaning yet. The issue was that some files has an extra data cell that didn't relate to data at all, but rather served as a guideline for how to fill this datasheet. Therefore, we had to avoid it, however, simply skipping while reading it wasn't going to cut it. Another issue was that those unrelated entries were not place consistently. Some files had it as a row before the main data, in some, it was in different columns but shared a row with some entry. Reading such data with Pandas became non-trivial since we couldn't avoid reading all of them. We collectevely decided to clean it manually. From every file we planned to use in the final dataset, we manually opened those files and removed the unrelated entry.

Additionally, while fixing the above issue, we faced a different problem, some files had different columns, some of which were never seen before, so we fixed those too.

We and modified all the files so they fall under 3 categories:

<strong>Category 1</strong>

Files with the following column names:

<table>
    <tr>
        <td>6a. \nStreet #</td>
        <td>6b. \nStreet Name</td>
        <td>6c. \nStreet Suffix  </td>
        <td>6d.\n Unit #</td>
        <td>6e. \nZip</td>
        <td>7. \nUndergraduate (U) or Graduate (G)</td>
        <td>8. \nFull-time (FT) or \nPart-time (PT)/td>
        <td>9. \n 5 or More Undergrads/Unit\n(Y/N)</td>
        <td>10. \nAt-Home or Not-at-Home</td>
    </tr>
</table>


<strong>Category 2</strong>

Files with the following column names:

<table>
    <tr>
        <td>6a. \nStreet #</td>
        <td>6b. \nStreet Name</td>
        <td>6c. \nStreet Suffix  </td>
        <td>6d.\n Unit #</td>
        <td>6e. \nZip</td>
        <td>7. \nUndergraduate (U) or Graduate (G)</td>
        <td>8. \nFull-time (FT) or \nPart-time (PT)/td>
        <td>9. \nAt-Home or Not-at-Home</td>
    </tr>
</table>

<strong>Category 3</strong>

Files with the following column names:

<table>
    <tr>
        <td>6a. \nStreet #</td>
        <td>6b. \nStreet Name</td>
        <td>6c. \nStreet Suffix  </td>
        <td>6d.\n Unit #</td>
        <td>6e. \nZip</td>
        <td>7. \nUndergraduate (U) or Graduate (G)</td>
        <td>8. \nFull-time (FT) or \nPart-time (PT)/td>
        <td>9. \n 5 or More Undergrads/Unit\n(Y/N)</td>
    </tr>
</table>


The way we defined the category for the file depended on the content of the file. If all the column names for the file were the same as then, it fell under the category. Also, if the values themselves represnted the column names, they also fell under the category.

If the files were missing address related columns, we would simply add them and left them empty

Finally, we had to make that the sheets that had the important data had a correct name of ```Student Addresses```

### Code-Based Cleaning

After successfully removing the unrelated data cell we can start the merging process, but before, we have to make sure everything is ready

<i style='font-weight:100; float:right; padding-right: 1.75em'>The cells below correspond to the current phase of data preparation</i>

#### Prepare Dataframes

In [178]:
universities = [
    'BayStateCollege',
    'BerkleeCollegeMusicBostonConservatory',
    'BostonArchitecturalCollege',
    'BostonBaptistCollege',
    'BostonCollege',
    'BostonCollegeWCAS',
    'BostonConservatoryBerklee',
    'BerkleeCollegeMusic',
    'BostonUniversity',
    'EmersonCollege',
    'EmmanuelCollege',
    'FisherCollege',
    'FranklinInstituteTechnology',
    'HarvardUniversity',
    'MassachusettsCollegeArtDesign',
    'MassachusettsCollegePharmacyHealthSciences',
    'MassachusettsInstituteTechnology',
    'MGHInstituteHealthProfessions',
    'NewEnglandCollegeOptometry',
    'NewEnglandConservatory',
    'NewEnglandLaw',
    'SimmonsCollege',
    'StJohnsSeminary',
    'SuffolkUniversity',
    'WheelockCollege',
    'WentworthInstituteTechnology',
    'UrbanCollegeBoston',
    'UniversityMassachusetts',
    'SHOWABostonInstitute',
    'TuftsUniversity',
    'SattlerCollege',
    'NortheasternUniversity'
]

dataframes = {}

for university in universities:
    dataframes[university] = prepare_dataframes(university)

print('Done')

University Bldgs

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/openpyxl/reader/workbook.py:120: UserWarning: Print area cannot be set to Defined name: 'Summary Stats'!$1:$31.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")

Definitions
University Bldgs
Student Addresses
Done

Let's double check if the columns fall only into 3 categories

In [179]:
groups = find_common_column_groups(dataframes)

for key in groups:
    print(len(groups[key]), key)

56 ['6a. \nStreet #', '6b. \nStreet Name', '6c. \nStreet Suffix  ', '6d.\n Unit #', '6e. \nZip', '7. \nUndergraduate (U) or Graduate (G)', '8. \nFull-time (FT) or \nPart-time (PT)', '9. \nAt-Home or Not-at-Home']
170 ['6a. \nStreet #', '6b. \nStreet Name', '6c. \nStreet Suffix  ', '6d.\n Unit #', '6e. \nZip', '7. \nUndergraduate (U) or Graduate (G)', '8. \nFull-time (FT) or \nPart-time (PT)', '9. \n 5 or More Undergrads/Unit\n(Y/N)']
3 ['6a. \nStreet #', '6b. \nStreet Name', '6c. \nStreet Suffix  ', '6d.\n Unit #', '6e. \nZip', '7. \nUndergraduate (U) or Graduate (G)', '8. \nFull-time (FT) or \nPart-time (PT)', '9. \n 5 or More Undergrads/Unit\n(Y/N)', '10. \nAt-Home or Not-at-Home']

As we can see, the dataframes are split into 3 distinct groups, we have to make sure they all are under 1 group before merging

In [180]:
group_1 = ['6a. \nStreet #', '6b. \nStreet Name', '6c. \nStreet Suffix  ', '6d.\n Unit #', '6e. \nZip', '7. \nUndergraduate (U) or Graduate (G)', '8. \nFull-time (FT) or \nPart-time (PT)', '9. \n 5 or More Undergrads/Unit\n(Y/N)', '10. \nAt-Home or Not-at-Home']
group_2 = ['6a. \nStreet #', '6b. \nStreet Name', '6c. \nStreet Suffix  ', '6d.\n Unit #', '6e. \nZip', '7. \nUndergraduate (U) or Graduate (G)', '8. \nFull-time (FT) or \nPart-time (PT)', '9. \nAt-Home or Not-at-Home']
group_3 = ['6a. \nStreet #', '6b. \nStreet Name', '6c. \nStreet Suffix  ', '6d.\n Unit #', '6e. \nZip', '7. \nUndergraduate (U) or Graduate (G)', '8. \nFull-time (FT) or \nPart-time (PT)', '9. \n 5 or More Undergrads/Unit\n(Y/N)']

##### Group 3

Just add the ```10. \nAt-Home or Not-at-Home``` column and fill it with np.nan

Then rename the columns to group_1 columns

In [181]:
# group_3 first
# filter them into a list
group_3_files = [ (university, year) for university, year in groups[str(group_3)] ]

for file in group_3_files:
    university = file[0]
    year = file[1]

    df = dataframes[university][year]

    df['10. \nAt-Home or Not-at-Home'] = np.nan

##### Group 2

Just add the ```10. \nAt-Home or Not-at-Home``` column and fill it with the values from ```9. \nAt-Home or Not-at-Home```

Then, delete the values inside ```9. \nAt-Home or Not-at-Home``` column

Then rename the columns to group_1 columns

In [182]:
group_2_files = [ (university, year) for university, year in groups[str(group_2)] ]

for file in group_2_files:
    university = file[0]
    year = file[1]

    df = dataframes[university][year]

    df['10. \n At-Home or Not-at-Home'] = df['9. \nAt-Home or Not-at-Home']

    df['9. \nAt-Home or Not-at-Home'] = np.nan
    
    df.columns = group_1

##### Group 1

Since group 1 has all the columns we need, we don't need to add or delete anything

Let's check if everything is the same now

In [183]:
groups = find_common_column_groups(dataframes)

for key in groups:
    print(len(groups[key]), key)

229 ['6a. \nStreet #', '6b. \nStreet Name', '6c. \nStreet Suffix  ', '6d.\n Unit #', '6e. \nZip', '7. \nUndergraduate (U) or Graduate (G)', '8. \nFull-time (FT) or \nPart-time (PT)', '9. \n 5 or More Undergrads/Unit\n(Y/N)', '10. \nAt-Home or Not-at-Home']

#### Renaming Existing Columns

Since everything is the same, we can start renaming the columns into a predefined list of columns

In [184]:
columns = [
    'street_number',
    'street_name',
    'street_suffix',
    'unit_number',
    'zip_code',
    'level_of_study',
    'full_time',
    'extra_large_unit',
    'at_home'
]

for university in dataframes:
    for year in dataframes[university]:
        df = dataframes[university][year]
        # avoid NoneTypes
        try:
            df.columns = columns
        except:
            print(university,year)

In [185]:
groups = find_common_column_groups(dataframes)

for key in groups:
    print(len(groups[key]), key)

229 ['street_number', 'street_name', 'street_suffix', 'unit_number', 'zip_code', 'level_of_study', 'full_time', 'extra_large_unit', 'at_home']

#### Adding New Columns

Before merging, we have to make sure that we do not lose the data, so, to each dataframe we will add two columns, year range and university it belongs to

In [186]:
for university in dataframes:
    for year in dataframes[university]:
        df = dataframes[university][year]
        df['university'] = university
        df['year'] = year.split('.')[0]

#### Merging

Now, we can finally merge the data into 1 big dataframe.

In [187]:
merged = pd.DataFrame(columns=columns)

for university in dataframes:
    for year in dataframes[university]:
        df = dataframes[university][year]
        
        if df is None:
            continue

        merged = pd.concat([merged,df])

print('Merged')

Merged

Ensure that the columns are of type string for the cleaning

In [188]:
for column in merged.columns:
    merged[column] = merged[column].astype(str)

#### Cleaning

Now, after finally merging the dataframe we can shift our focus on cleaning the dataframe

##### Address Cleaning

While inspecting the data, we saw a lot of instances where the address wasn't seperated, or seperated incorectly

Therefore, we will combine the addresses, and then split it using the ```seperate_address``` function we imported above

However, before that, let's fill the null values with empty strings, otherwise the parser will error

In [189]:
merged['street_number'] = merged['street_number'].fillna('').replace('nan','')
merged['street_name'] = merged['street_name'].fillna('').replace('nan','')
merged['street_suffix'] = merged['street_suffix'].fillna('').replace('nan','')
merged['unit_number'] = merged['unit_number'].fillna('').replace('nan','')

Now, combine the columns into ```street_name```

In [190]:
merged['street_name'] = merged['street_number'] + ' ' + merged['street_name'] + ' ' + merged['street_suffix'] + ' ' + merged['unit_number']

Remove the values from ```street_number```, ```street_suffix```, and ```unit_number```

In [191]:
# set the street_number, street_name, street_suffix, unit_number to empty string
merged['street_number'] = ''
merged['street_suffix'] = ''
merged['unit_number'] = ''

Use the ```seperate_address``` function to fix the addresses

In [192]:
merged[['street_number', 'street_name', 'street_suffix', 'unit_number']] = merged['street_name'].apply(seperate_address)

##### Fixing ```zip_code```

The ```zip_code``` column is much more persistent with proper formatting, however, some values need to be cleaned

However, there are issues that need to be fixed, so we will go over the column and fix whatever is not right

In [193]:
merged['zip_code'] = merged['zip_code'].apply(fix_zip_code)

What happened above is that any zip code that doesn't follow the normal two patterns, i.e. the normal 5 digit pattern and ZIP+4 pattern, they will either be fixed or set to a dummy zip code value of ```00000```

In [194]:
merged.loc[(merged['zip_code'] != '00000') & (~merged['zip_code'].apply(is_in_massachusetts)), 'zip_code'] = '00000'

Some of the zip codes matched the pattern, but are outside of Massachusetts, we will set those to ```00000``` too

##### Fixing ```level_of_study```


On the left side of the table there are all unique values from the ```level_of_study``` column, on the right side are the new values that the original values were mapped to. The values with no assigned new value will be left for the end of the cleaning

<table style="width: max-content;">
    <tr>
        <th style="text-align: left">Original Value</th>
        <th>New Value</th>
    </tr>
    <tr>
        <td><code>UG</code></td>
        <td style="text-align: center"><code>UG</code></td>
    </tr>
    <tr>
        <td><code>U</code></td>
        <td style="text-align: center"><code>UG</code></td>
    </tr>
    <tr>
        <td><code>U&nbsp;</code></td>
        <td style="text-align: center"><code>UG</code></td>
    </tr>
    <tr>
        <td><code>Undergrad</code></td>
        <td style="text-align: center"><code>UG</code></td>
    </tr>
    <tr>
        <td><code>Undergraduate</code></td>
        <td style="text-align: center"><code>UG</code></td>
    </tr>
    <tr>
        <td><code>&nbsp;Undergraduate</code></td>
        <td style="text-align: center"><code>UG</code></td>
    </tr>
    <tr>
        <td><code>undergraduate</code></td>
        <td style="text-align: center"><code>UG</code></td>
    </tr>
    <tr>
        <td><code>GR</code></td>
        <td style="text-align: center"><code>GR</code></td>
    </tr>
    <tr>
        <td><code>G</code></td>
        <td style="text-align: center"><code>GR</code></td>
    </tr>
    <tr>
        <td><code>Grad</code></td>
        <td style="text-align: center"><code>GR</code></td>
    </tr>
    <tr>
        <td><code>Graduate</code></td>
        <td style="text-align: center"><code>GR</code></td>
    </tr>
    <tr>
        <td><code>1 G</code></td>
        <td style="text-align: center"><code>GR</code></td>
    </tr>
    <tr>
        <td><code>Woods College of Advance Studies</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
    <tr>
        <td><code>Woods College</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
    <tr>
        <td><code>Exchange Student</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
    <tr>
        <td><code>nan</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
    <tr>
        <td><code>U and Graduate</code></td>
        <td style="text-align: center"></td>
    </tr>
    <tr>
        <td><code>Both</code></td>
        <td style="text-align: center"></td>
    </tr>
    <tr>
        <td><code>U and G</code></td>
        <td style="text-align: center"></td>
    </tr>
    <tr>
        <td><code>G and UG</code></td>
        <td style="text-align: center"></td>
    </tr>
    <tr>
        <td><code>3 UG; 5G</code></td>
        <td style="text-align: center"></td>
    </tr>
    <tr>
        <td><code>G and U</code></td>
        <td style="text-align: center"></td>
    </tr>
</table>

In [195]:
mapping = {
    'G' : 'GR',
    'G ' : 'GR',
    'Grad' : 'GR',
    'Graduate' : 'GR',
    '1 G' : 'GR',

    'U' : 'UG',
    'U ' : 'UG',
    'Undergrad' : 'UG',
    'Undergraduate' : 'UG',
    ' Undergraduate' : 'UG',
    'undergraduate' : 'UG',

    'Woods College of Advancing Studies' : 'UK',
    'Woods College' : 'UK',
    'Exchange Student' : 'UK',
    'nan' : 'UK'
}

map = lambda x: mapping[x] if x in mapping else x

merged['level_of_study'] = merged['level_of_study'].apply(map)

##### Fixing ```full_time```

On the left side of the table there are all unique values from the ```full_time``` column, on the right side are the new values that the original values were mapped to. The values with no assigned new value will be left for the end of the cleaning

<table style="width: max-content;">
    <tr>
        <th style="text-align: left">Original Value</th>
        <th>New Value</th>
    </tr>
    <tr>
        <td><code>PT</code></td>
        <td style="text-align: center"><code>PT</code></td>
    </tr>
    <tr>
        <td><code>Part Time</code></td>
        <td style="text-align: center"><code>PT</code></td>
    </tr>
    <tr>
        <td><code>PART</code></td>
        <td style="text-align: center"><code>PT</code></td>
    </tr>
    <tr>
        <td><code>Part-Time</code></td>
        <td style="text-align: center"><code>PT</code></td>
    </tr>
    <tr>
        <td><code>HT</code></td>
        <td style="text-align: center"><code>PT</code></td>
    </tr>
    <tr>
        <td><code>HALF</code></td>
        <td style="text-align: center"><code>PT</code></td>
    </tr>
    <tr>
        <td><code>P</code></td>
        <td style="text-align: center"><code>PT</code></td>
    </tr>
    <tr>
        <td><code>FT</code></td>
        <td style="text-align: center"><code>FT</code></td>
    </tr>
    <tr>
        <td><code>FT&nbsp;</code></td>
        <td style="text-align: center"><code>FT</code></td>
    </tr>
    <tr>
        <td><code>Full Time</code></td>
        <td style="text-align: center"><code>FT</code></td>
    </tr>
    <tr>
        <td><code>FULL</code></td>
        <td style="text-align: center"><code>FT</code></td>
    </tr>
    <tr>
        <td><code>Full-Time</code></td>
        <td style="text-align: center"><code>FT</code></td>
    </tr>
    <tr>
        <td><code>F</code></td>
        <td style="text-align: center"><code>FT</code></td>
    </tr>
    <tr>
        <td><code>Full-time F-1 foreign Students</code></td>
        <td style="text-align: center"><code>FT</code></td>
    </tr>
    <tr>
        <td><code>FP</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
    <tr>
        <td><code>FN</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
    <tr>
        <td><code>D</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
    <tr>
        <td><code>E</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
    <tr>
        <td><code>S</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
    <tr>
        <td><code>T</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
    <tr>
        <td><code>nan</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
    <tr>
        <td><code>FT and PT</code></td>
        <td style="text-align: center"></td>
    </tr>
    <tr>
        <td><code>PT and FT</code></td>
        <td style="text-align: center"></td>
    </tr>
    <tr>
        <td><code>all FT</code></td>
        <td style="text-align: center"></td>
    </tr>
</table>

In [196]:
mapping = {
    'FT ' : 'FT',
    'Full Time' : 'FT',
    'Full-Time' : 'FT',
    'FULL' : 'FT',
    'F' : 'FT',
    'Full-time F-1 foreign students' : 'FT',

    'PT ' : 'PT',
    'Part Time' : 'PT',
    'Part-Time' : 'PT',
    'PART' : 'PT',
    'HT' : 'PT',
    'HALF' : 'PT',
    'P' : 'PT',

    'nan' : 'UK',
    'FP' : 'UK',
    'FN' : 'UK',
    'D' : 'UK',
    'E' : 'UK',
    'S' : 'UK',
    'T' : 'UK',
}

map = lambda x: mapping[x] if x in mapping else x

merged['full_time'] = merged['full_time'].apply(map)

##### Fixing ```at_home```

On the left side of the table there are all unique values from the ```at_home``` column, on the right side are the new values that the original values were mapped to

<table style="width: max-content;">
    <tr>
        <th style="text-align: left">Original Value</th>
        <th>New Value</th>
    </tr>
    <tr>
        <td><code>At Home</code></td>
        <td style="text-align: center"><code>AH</code></td>
    </tr>
    <tr>
        <td><code>Home</code></td>
        <td style="text-align: center"><code>AH</code></td>
    </tr>
    <tr>
        <td><code>At-Home</code></td>
        <td style="text-align: center"><code>AH</code></td>
    </tr>
    <tr>
        <td><code>at-home</code></td>
        <td style="text-align: center"><code>AH</code></td>
    </tr>
    <tr>
        <td><code>At-home</code></td>
        <td style="text-align: center"><code>AH</code></td>
    </tr>
    <tr>
        <td><code>Y</code></td>
        <td style="text-align: center"><code>AH</code></td>
    </tr>
    <tr>
        <td><code>Not at Home</code></td>
        <td style="text-align: center"><code>NH</code></td>
    </tr>
    <tr>
        <td><code>Not-at-Home</code></td>
        <td style="text-align: center"><code>NH</code></td>
    </tr>
    <tr>
        <td><code>Not-At-Home</code></td>
        <td style="text-align: center"><code>NH</code></td>
    </tr>
    <tr>
        <td><code>Not-at-Home&nbsp;</code></td>
        <td style="text-align: center"><code>NH</code></td>
    </tr>
    <tr>
        <td><code>City of Boston off-campus not-at-home (formally referred to as Private Housing)</code></td>
        <td style="text-align: center"><code>NH</code></td>
    </tr>
    <tr>
        <td><code>Private Housing</code></td>
        <td style="text-align: center"><code>NH</code></td>
    </tr>
    <tr>
        <td><code>Not At Home</code></td>
        <td style="text-align: center"><code>NH</code></td>
    </tr>
    <tr>
        <td><code>Not-at-home</code></td>
        <td style="text-align: center"><code>NH</code></td>
    </tr>
    <tr>
        <td><code>not-at-home</code></td>
        <td style="text-align: center"><code>NH</code></td>
    </tr>
    <tr>
        <td><code>Not at home</code></td>
        <td style="text-align: center"><code>NH</code></td>
    </tr>
    <tr>
        <td><code>Not-at-Hhome</code></td>
        <td style="text-align: center"><code>NH</code></td>
    </tr>
    <tr>
        <td><code>N</code></td>
        <td style="text-align: center"><code>NH</code></td>
    </tr>
    <tr>
        <td><code>Private</code></td>
        <td style="text-align: center"><code>NH</code></td>
    </tr>
    <tr>
        <td><code>Oblate Seminary</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
    <tr>
        <td><code>Fransiscan Seminary</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
    <tr>
        <td><code>Carmelite Seminary</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
    <tr>
        <td><code>&nbsp;</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
    <tr>
        <td><code>nan</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
</table>

In [197]:
mapping = {
    'At Home' : 'AH',
    'Home' : 'AH',
    'At-Home' : 'AH',
    'at-home' : 'AH',
    'At-home' : 'AH',
    'Y' : 'AH',

    'Not at Home' : 'NH',
    'Not-at-Home' : 'NH',
    'Not-At-Home' : 'NH',
    'Not-at-Home' : 'NH',
    'City of Boston off-campus not-at-home (formally referred to as Private Housing)' : 'NH',
    'Private Housing' : 'NH',
    'Not At Home' : 'NH',
    'Not-at-home' : 'NH',
    'not-at-home' : 'NH',
    'Not at home' : 'NH',
    'Not-at-Hhome' : 'NH',
    'Not-at-Home ' : 'NH',
    'N' : 'NH',
    'Private' : 'NH',

    'nan' : 'UK',
    'Oblate Seminary' : 'UK',
    'Fransiscan Seminary' : 'UK',
    'Carmelite Seminary' : 'UK',
    ' ' : 'UK'
}

map = lambda x: mapping[x] if x in mapping else x

merged['at_home'] = merged['at_home'].apply(map)

In [198]:
merged['at_home'].unique()

array(['NH', 'AH', 'UK'], dtype=object)

##### Fixing ```extra_large_unit```

On the left side of the table there are all unique values from the ```extra_large_unit``` column, on the right side are the new values that the original values were mapped to

<table style="width: max-content;">
    <tr>
        <th style="text-align: left">Original Value</th>
        <th>New Value</th>
    </tr>
    <tr>
        <td><code>Y</code></td>
        <td style="text-align: center"><code>Y</code></td>
    </tr><tr>
        <td><code>YES</code></td>
        <td style="text-align: center"><code>Y</code></td>
    </tr>
    <tr>
        <td><code>y</code></td>
        <td style="text-align: center"><code>Y</code></td>
    </tr>
    <tr>
        <td><code>N</code></td>
        <td style="text-align: center"><code>N</code></td>
    </tr>
    <tr>
        <td><code>n</code></td>
        <td style="text-align: center"><code>N</code></td>
    </tr>
    <tr>
        <td><code>N&nbsp;</code></td>
        <td style="text-align: center"><code>N</code></td>
    </tr>
    <tr>
        <td><code>No</code></td>
        <td style="text-align: center"><code>N</code></td>
    </tr>
    <tr>
        <td><code>NO</code></td>
        <td style="text-align: center"><code>N</code></td>
    </tr>
    <tr>
        <td><code>do not know</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
    <tr>
        <td><code>*</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
    <tr>
        <td><code>*&nbsp;</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
    <tr>
        <td><code>nan</code></td>
        <td style="text-align: center"><code>UK</code></td>
    </tr>
</table>

In [199]:
mapping = {
    'YES' : 'Y',
    'y' : 'Y',

    'n' : 'N',
    'N ' : 'N',
    'No' : 'N',
    'NO' : 'N',

    'do not know' : 'UK',
    '* ' : 'UK',
    '*' : 'UK',
    'nan' : 'UK'
}

map = lambda x: mapping[x] if x in mapping else x

merged['extra_large_unit'] = merged['extra_large_unit'].apply(map)

##### Cleaning the Rest of ```level_of_study``` and ```full_time```

The reason we left it for the end is that these odd values in ```level_of_study``` and ```full_time``` are correlated.

In [200]:
grouped = merged.groupby(['level_of_study', 'full_time']).indices
combinations = {}

for combination, indexes in grouped.items():
    combinations[combination] = {'count': len(indexes), 'indexes': [int(index) for index in list(indexes)]}

In [201]:
valid_combinations = [
    ('UG', 'FT'),
    ('UG', 'PT'),
    ('UG', 'UK'),
    ('GR', 'FT'),
    ('GR', 'PT'),
    ('GR', 'UK'),
    ('UK', 'FT'),
    ('UK', 'PT'),
    ('UK', 'UK'),
]

for combination in valid_combinations:
    if combination in combinations:
        del combinations[combination]

for combination in combinations:
    combination_count = combinations[combination]['count']
    combination_indexes = combinations[combination]['indexes']

    print(f'Combination: {combination}')
    print(f'Count: {combination_count}')
    print(f'Indexes: {combination_indexes}')
    print('\n')

Combination: ('3 UG; 5 G', 'all FT')
Count: 1
Indexes: [152659]


Combination: ('Both', 'FT')
Count: 1
Indexes: [152641]


Combination: ('Both', 'FT and PT')
Count: 1
Indexes: [152642]


Combination: ('G and U', 'FT')
Count: 1
Indexes: [152670]


Combination: ('G and UG', 'PT and FT')
Count: 2
Indexes: [152657, 152658]


Combination: ('GR', 'FT and PT')
Count: 4
Indexes: [152645, 152675, 152676, 152677]


Combination: ('U and G', 'FT')
Count: 3
Indexes: [152647, 152666, 152667]


Combination: ('U and G', 'FT and PT')
Count: 1
Indexes: [152665]


Combination: ('U and Graduate', 'FT')
Count: 1
Indexes: [152638]


Combination: ('U and Graduate', 'FT and PT')
Count: 1
Indexes: [152640]

As we can see, the first combination, ```('3 UG; 5 G', 'all FT')``` represents 8 data entries instead of 1. Therefore, we need to add 7 more entries that have the same values everywhere.

Now, we will manually fix this issue, we will create an appropriate number of new entries, fill them with proper data, then delete the old ones.

In [202]:
new_values = pd.DataFrame(columns=merged.columns)
# dict_keys([('3 UG; 5 G', 'all FT'), ('Both', 'FT'), ('Both', 'FT and PT'), ('G and U', 'FT'), ('G and UG', 'PT and FT'), ('GR', 'FT and PT'), ('U and G', 'FT'), ('U and G', 'FT and PT'), ('U and Graduate', 'FT'), ('U and Graduate', 'FT and PT'), ('UG', 'Full-time F-1 foreign students')])

# ('3 UG; 5 G', 'all FT')
indexes = combinations[('3 UG; 5 G', 'all FT')]['indexes']

for index in indexes:
    row = merged.iloc[index]

    for i in range(3):
        new_value = row.copy()
        new_value['level_of_study'] = 'UG'
        new_value['full_time'] = 'FT'
        new_values.loc[len(new_values)] = new_value

    for i in range(5):
        new_value = row.copy()
        new_value['level_of_study'] = 'GR'
        new_value['full_time'] = 'FT'
        new_values.loc[len(new_values)] = new_value


# ('Both', 'FT')
indexes = combinations[('Both', 'FT')]['indexes']

for index in indexes:
    row = merged.iloc[index]

    new_value = row.copy()
    new_value['level_of_study'] = 'UG'
    new_value['full_time'] = 'FT'
    new_values.loc[len(new_values)] = new_value

    new_value = row.copy()
    new_value['level_of_study'] = 'GR'
    new_value['full_time'] = 'FT'
    new_values.loc[len(new_values)] = new_value

# ('Both', 'FT and PT')

indexes = combinations[('Both', 'FT and PT')]['indexes']

for index in indexes:
    row = merged.iloc[index]

    new_value = row.copy()
    new_value['level_of_study'] = 'UG'
    new_value['full_time'] = 'FT'
    new_values.loc[len(new_values)] = new_value

    new_value = row.copy()
    new_value['level_of_study'] = 'GR'
    new_value['full_time'] = 'PT'
    new_values.loc[len(new_values)] = new_value

# ('G and U', 'FT')

indexes = combinations[('G and U', 'FT')]['indexes']

for index in indexes:
    row = merged.iloc[index]

    new_value = row.copy()
    new_value['level_of_study'] = 'UG'
    new_value['full_time'] = 'FT'
    new_values.loc[len(new_values)] = new_value

    new_value = row.copy()
    new_value['level_of_study'] = 'GR'
    new_value['full_time'] = 'FT'
    new_values.loc[len(new_values)] = new_value

# ('G and UG', 'PT and FT')

indexes = combinations[('G and UG', 'PT and FT')]['indexes']

for index in indexes:
    row = merged.iloc[index]

    new_value = row.copy()
    new_value['level_of_study'] = 'UG'
    new_value['full_time'] = 'PT'
    new_values.loc[len(new_values)] = new_value

    new_value = row.copy()
    new_value['level_of_study'] = 'GR'
    new_value['full_time'] = 'FT'
    new_values.loc[len(new_values)] = new_value

# ('GR', 'FT and PT')
indexes = combinations[('GR', 'FT and PT')]['indexes']

for index in indexes:
    row = merged.iloc[index]

    new_value = row.copy()
    new_value['level_of_study'] = 'GR'
    new_value['full_time'] = 'FT'
    new_values.loc[len(new_values)] = new_value

    new_value = row.copy()
    new_value['level_of_study'] = 'GR'
    new_value['full_time'] = 'PT'
    new_values.loc[len(new_values)] = new_value

# ('U and G', 'FT')
indexes = combinations[('U and G', 'FT')]['indexes']

for index in indexes:
    row = merged.iloc[index]

    new_value = row.copy()
    new_value['level_of_study'] = 'UG'
    new_value['full_time'] = 'FT'
    new_values.loc[len(new_values)] = new_value

    new_value = row.copy()
    new_value['level_of_study'] = 'GR'
    new_value['full_time'] = 'FT'
    new_values.loc[len(new_values)] = new_value

# ('U and G', 'FT and PT')
indexes = combinations[('U and G', 'FT and PT')]['indexes']

for index in indexes:
    row = merged.iloc[index]

    new_value = row.copy()
    new_value['level_of_study'] = 'UG'
    new_value['full_time'] = 'FT'
    new_values.loc[len(new_values)] = new_value

    new_value = row.copy()
    new_value['level_of_study'] = 'GR'
    new_value['full_time'] = 'PT'
    new_values.loc[len(new_values)] = new_value

# ('U and Graduate', 'FT')
indexes = combinations[('U and Graduate', 'FT')]['indexes']

for index in indexes:
    row = merged.iloc[index]

    new_value = row.copy()
    new_value['level_of_study'] = 'UG'
    new_value['full_time'] = 'FT'
    new_values.loc[len(new_values)] = new_value

    new_value = row.copy()
    new_value['level_of_study'] = 'GR'
    new_value['full_time'] = 'FT'
    new_values.loc[len(new_values)] = new_value

# ('U and Graduate', 'FT and PT')
indexes = combinations[('U and Graduate', 'FT and PT')]['indexes']

for index in indexes:
    row = merged.iloc[index]

    new_value = row.copy()
    new_value['level_of_study'] = 'UG'
    new_value['full_time'] = 'FT'
    new_values.loc[len(new_values)] = new_value

    new_value = row.copy()
    new_value['level_of_study'] = 'GR'
    new_value['full_time'] = 'PT'
    new_values.loc[len(new_values)] = new_value

Delete the original values from the merged dataset

In [206]:
# delete the occurances of the combinations in the merged dataframe

for combination in combinations:
    level_of_study = combination[0]
    full_time = combination[1]

    merged = merged[~((merged['level_of_study'] == level_of_study) & (merged['full_time'] == full_time))]
    print(f'Deleted {level_of_study} {full_time}')

Deleted 3 UG; 5 G all FT
Deleted Both FT
Deleted Both FT and PT
Deleted G and U FT
Deleted G and UG PT and FT
Deleted GR FT and PT
Deleted U and G FT
Deleted U and G FT and PT
Deleted U and Graduate FT
Deleted U and Graduate FT and PT

Add the new values

In [207]:
merged = pd.concat([merged, new_values])

##### Cleaning Null Values

If an entry is missing ```street_name``` or ```street_number``` it becomes unusable, therefore, if there are any entries like that, we will remove them

In [210]:
# If an entry is missing ```street_name``` or ```street_number``` it becomes unusable, therefore, if there are any entries like that, we will remove them
# it can be empty string or 'nan'
merged = merged[~((merged['street_name'] == '') | (merged['street_number'] == ''))]
merged = merged[~((merged['street_name'] == 'nan') | (merged['street_number'] == 'nan'))]
merged = merged[~((merged['street_name'].isna()) | (merged['street_number'].isna()))]

Fill the rest of the null values in ```street_suffix``` and ```unit_number``` with empty string

In [212]:
# Fill the rest of the null values in ```street_suffix``` and ```unit_number``` with empty string
merged['street_suffix'] = merged['street_suffix'].fillna('')
merged['unit_number'] = merged['unit_number'].fillna('')

In [214]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 316253 entries, 0 to 37
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   street_number     316253 non-null  object
 1   street_name       316253 non-null  object
 2   street_suffix     316253 non-null  object
 3   unit_number       316253 non-null  object
 4   zip_code          316253 non-null  object
 5   level_of_study    316253 non-null  object
 6   full_time         316253 non-null  object
 7   extra_large_unit  316253 non-null  object
 8   at_home           316253 non-null  object
 9   university        316253 non-null  object
 10  year              316253 non-null  object
dtypes: object(11)
memory usage: 29.0+ MB

Since we got rid of all the null values, we are done with cleaning, for now.

## Save the Result

In [215]:
merged.to_csv('../data/student_adresses.csv')