In [4]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

In [5]:
import pandas as pd

In [8]:
df = pd.read_excel('2016-2017 School Year Reports/Bay State College.xlsx',sheet_name='Student Addresses',skiprows=2)

In [9]:
df.head()

,6a. \nStreet #,6b. \nStreet Name,6c. \nStreet Suffix,6d.\n Unit #,6e. \nZip,7. \nUndergraduate (U) or Graduate (G),8. \nFull-time (FT) or \nPart-time (PT),9. \n 5 or More Undergrads/Unit\n(Y/N)
0,45,Province,Street,1106,02108,U,FT,N
1,48,Richfield,Street,NaN,02125,U,FT,N
2,40,Langdon,Street,NaN,02119,U,FT,N
3,42,Langdon,Street,NaN,02119,U,FT,N
4,59,B Street,Street,3015,02127,U,FT,N

In [10]:
import os

In [11]:
list_files = os.listdir('./2016-2017 School Year Reports')
len(list_files)

31

In [13]:
folders = ['2016-2017 School Year Reports','2017-2018 School Year Reports']

In [35]:
df=pd.DataFrame()
x=False
outl=[]
for i in folders:
    list_files = os.listdir(f'./{i}')
    for file in list_files:
        print(f'{i}/{file}')
        try:
            temp = pd.read_excel(f'{i}/{file}',sheet_name='Student Addresses',skiprows=2)
            temp['University'] = file.replace('.xlsx','')
            temp['Year'] = i[0:9]
            df = pd.concat([df,temp])
        except:
            outl+=[f'{i}/{file}']

2016-2017 School Year Reports/Bay State College.xlsx
2016-2017 School Year Reports/Berklee College of Music.xlsx

C:\Users\adity\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

2016-2017 School Year Reports/Boston Architectural College.xlsx
2016-2017 School Year Reports/Boston Baptist College.xlsx
2016-2017 School Year Reports/Boston College, WCAS.xlsx
2016-2017 School Year Reports/Boston College.xlsx
2016-2017 School Year Reports/Boston Conservatory at Berklee.xlsx
2016-2017 School Year Reports/Boston University.xlsx

C:\Users\adity\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\reader\workbook.py:118: UserWarning: Print area cannot be set to Defined name: 'Summary Stats'!$1:$31.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")

2016-2017 School Year Reports/Emerson College.xlsx
2016-2017 School Year Reports/Emmanuel College.xlsx
2016-2017 School Year Reports/Fisher College.xlsx
2016-2017 School Year Reports/Franklin Institute of Technology.xlsx
2016-2017 School Year Reports/Harvard University.xlsx
2016-2017 School Year Reports/MA College of Art and Design.xlsx
2016-2017 School Year Reports/Massachusetts College of Pharmacy and Health Sciences.xlsx
2016-2017 School Year Reports/Massachusetts Institute of Technology.xls
2016-2017 School Year Reports/MGH Institute of Health Professions.xlsx
2016-2017 School Year Reports/New England College of Optometry.xlsx
2016-2017 School Year Reports/New England Conservatory.xlsx
2016-2017 School Year Reports/New England Law.xlsx
2016-2017 School Year Reports/Northeastern University Student Addresses.xlsx
2016-2017 School Year Reports/Northeastern University.xlsx

C:\Users\adity\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

2016-2017 School Year Reports/Preliminary Tufts University-SMFA.xlsx
2016-2017 School Year Reports/SHOWA Boston Institute.xlsx
2016-2017 School Year Reports/Simmons College.xlsx

C:\Users\adity\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

2016-2017 School Year Reports/St. John's Seminary.xlsx
2016-2017 School Year Reports/Suffolk University.xlsx
2016-2017 School Year Reports/University of Massachusetts-Boston.xlsx
2016-2017 School Year Reports/Urban College of Boston.xlsx
2016-2017 School Year Reports/Wentworth Institute of Technology.xlsx
2016-2017 School Year Reports/Wheelock College.xlsx
2017-2018 School Year Reports/Bay State College.xlsx
2017-2018 School Year Reports/Berklee College of Music.xlsx
2017-2018 School Year Reports/Boston Architectural College.xlsx
2017-2018 School Year Reports/Boston Baptist College.xlsx
2017-2018 School Year Reports/Boston College.xlsx
2017-2018 School Year Reports/Boston Conservatory at Berklee.xlsx
2017-2018 School Year Reports/Boston University Updated Report 30Nov2017.xlsx
2017-2018 School Year Reports/Boston University.xlsx
2017-2018 School Year Reports/Emerson College.xlsx
2017-2018 School Year Reports/Emmanuel College.xlsx
2017-2018 School Year Reports/Fisher College.xlsx
2017-2018 School Year Reports/Franklin Institute of Technology.xlsx
2017-2018 School Year Reports/Harvard University.xlsx
2017-2018 School Year Reports/Massachusettes College of Art and Design.xlsx
2017-2018 School Year Reports/Massachusetts Institute of Technology.xlsx
2017-2018 School Year Reports/MCPHHS University.xlsx
2017-2018 School Year Reports/MGH Institute of Health Professions.xlsx
2017-2018 School Year Reports/MIT UAR Fall 2017-update.xlsx
2017-2018 School Year Reports/New England College of Optometry.xlsx
2017-2018 School Year Reports/New England Conservatory.xlsx
2017-2018 School Year Reports/New England Law Boston.xlsx
2017-2018 School Year Reports/Northeastern University Street Addresses (2).xlsx
2017-2018 School Year Reports/Northeastern University.xlsx

C:\Users\adity\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

2017-2018 School Year Reports/SHOWA Boston Institute.xlsx
2017-2018 School Year Reports/Simmons College.xlsx
2017-2018 School Year Reports/St. John's Seminary.xlsx
2017-2018 School Year Reports/Suffolk University.xlsx
2017-2018 School Year Reports/Tufts University-SMFA.xlsx
2017-2018 School Year Reports/University of Massachusetts-Boston.xlsx
2017-2018 School Year Reports/Urban College of Boston.xlsx
2017-2018 School Year Reports/Wentworth Institute of Technology.xlsx
2017-2018 School Year Reports/Wheelock College.xlsx

In [36]:
print(outl)

['2016-2017 School Year Reports/Boston College, WCAS.xlsx', '2016-2017 School Year Reports/Massachusetts Institute of Technology.xls', '2016-2017 School Year Reports/Northeastern University Student Addresses.xlsx', '2017-2018 School Year Reports/Northeastern University Street Addresses (2).xlsx']

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64489 entries, 0 to 9
Data columns (total 14 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   6a.
Street #                          62367 non-null  object
 1   6b.
Street Name                       61154 non-null  object
 2   6c.
Street Suffix                     53076 non-null  object
 3   6d.
 Unit #                            44009 non-null  object
 4   6e.
Zip                               64486 non-null  object
 5   7.
Undergraduate (U) or Graduate (G)  62894 non-null  object
 6   8.
Full-time (FT) or
Part-time (PT)  64020 non-null  object
 7   9.
 5 or More Undergrads/Unit
(Y/N)   57100 non-null  object
 8   Unnamed: 8                             0 non-null      float64
 9   Home address                           1750 non-null   object
 10  Current address same as home address   583 non-null    object
 11  SMFA student                           101 non-null    object
 12  7.
UnderGaduate (U) or Gaduate (G)    1595 non-null   object
 13  8.
FT-time (FT) or
PT-time (PT)      469 non-null    object
dtypes: float64(1), object(13)
memory usage: 7.4+ MB

In [37]:
df.head()

,6a. \nStreet #,6b. \nStreet Name,6c. \nStreet Suffix,6d.\n Unit #,6e. \nZip,7. \nUndergraduate (U) or Graduate (G),8. \nFull-time (FT) or \nPart-time (PT),9. \n 5 or More Undergrads/Unit\n(Y/N),University,Year,Unnamed: 8,Home address,Current address same as home address,SMFA student,7. \nUnderGaduate (U) or Gaduate (G),8. \nFT-time (FT) or \nPT-time (PT)
0,45,Province,Street,1106,02108,U,FT,N,Bay State College,2016-2017,NaN,NaN,NaN,NaN,NaN,NaN
1,48,Richfield,Street,NaN,02125,U,FT,N,Bay State College,2016-2017,NaN,NaN,NaN,NaN,NaN,NaN
2,40,Langdon,Street,NaN,02119,U,FT,N,Bay State College,2016-2017,NaN,NaN,NaN,NaN,NaN,NaN
3,42,Langdon,Street,NaN,02119,U,FT,N,Bay State College,2016-2017,NaN,NaN,NaN,NaN,NaN,NaN
4,59,B Street,Street,3015,02127,U,FT,N,Bay State College,2016-2017,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df.to_csv('2016-2018.csv',index=False)