In [1]:
import pandas as pd
import re

In [4]:
df = pd.read_csv("2016-2018.csv",low_memory=False) # We use low memory=False because each column has multiple data types

In [7]:
df.columns

Index(['6a. \nStreet #', '6b. \nStreet Name', '6c. \nStreet Suffix  ',
       '6d.\n Unit #', '6e. \nZip', '7. \nUndergraduate (U) or Graduate (G)',
       '8. \nFull-time (FT) or \nPart-time (PT)',
       '9. \n 5 or More Undergrads/Unit\n(Y/N)', 'University', 'Year',
       'Unnamed: 8', 'Home address', 'Current address same as home address',
       'SMFA student', '7. \nUnderGaduate (U) or Gaduate (G)',
       '8. \nFT-time (FT) or \nPT-time (PT)'],
      dtype='object')

#### Problem universities were identified in the Data Concat scripts, this script tackles those problem universities, since different years have different issues, there is no set format for this code, modifications for each year were made to ensure that all the data shared matches the standard format. This script is closer to a template that was used.

In [75]:
temp = df[df["University"]=="Fisher College"].copy(deep=True)

In [76]:
temp.head()

,6a. \nStreet #,6b. \nStreet Name,6c. \nStreet Suffix,6d.\n Unit #,6e. \nZip,7. \nUndergraduate (U) or Graduate (G),8. \nFull-time (FT) or \nPart-time (PT),9. \n 5 or More Undergrads/Unit\n(Y/N),University,Year,Unnamed: 8,Home address,Current address same as home address,SMFA student,7. \nUnderGaduate (U) or Gaduate (G),8. \nFT-time (FT) or \nPT-time (PT)
13229,NaN,8 Westminster Ave Apt 1,NaN,NaN,2134.0,UG,FT,NaN,Fisher College,2016-2017,NaN,NaN,NaN,NaN,NaN,NaN
13230,NaN,"17 Cazenove Street, Apt. BW",NaN,NaN,2199.0,UG,FT,NaN,Fisher College,2016-2017,NaN,NaN,NaN,NaN,NaN,NaN
13231,NaN,1156 Commonwealth Ave #49,NaN,NaN,2116.0,UG,FT,NaN,Fisher College,2016-2017,NaN,NaN,NaN,NaN,NaN,NaN
13232,NaN,"770 Boylston Street, Apt. 3J",NaN,Apt. 18,2134.0,UG,PT,NaN,Fisher College,2016-2017,NaN,NaN,NaN,NaN,NaN,NaN
13233,NaN,"45 Stuart Street, #2804",NaN,NaN,2111.0,UG,FT,NaN,Fisher College,2016-2017,NaN,NaN,NaN,NaN,NaN,NaN

The below functions takes in a complete address and breaks it down into the street number, street name, street suffix, unit number (if available) and zip code.

In [77]:
def parse_address(address):
    address = address.replace(","," ")
    print(address)
    add_split = address.split()
    try:
        stno=int(add_split[0])
        add_split.pop(0)
    except:
        # add_split=["N/A stno"]+add_split
        stno=None
    y= set(add_split).intersection(set(['St','Street','Ave','Avenue','Blvd','Boulevard','Rd','Road','Steet']))
    if len(y)==1:
        i=add_split.index(list(y)[0])
        j=add_split.pop(i)
        suff = j
    else:
        suff=None
    if "Unit" in add_split:
        i=add_split.index("Unit")
        apt = " ".join(add_split[i:])
        add_split = add_split[:i]
    elif "Apt" in add_split:
        i=add_split.index("Apt")
        apt = " ".join(add_split[i:])   
        add_split = add_split[:i]
    elif "Apt." in add_split:
        i=add_split.index("Apt.")
        apt = " ".join(add_split[i:])
        add_split = add_split[:i]
    elif "#" in add_split:
        i=add_split.index("#")
        apt = " ".join(add_split[i:])
        add_split = add_split[:i]
    else:
        if len(add_split)>=1:
            x=add_split[len(add_split)-1]
            if "#" in x:
                apt=x
                add_split.pop(-1)
            else:
                apt=None
        else:
            apt=None

    st_name = " ".join(add_split)

    return stno, st_name, suff, apt

In [78]:
temp[['6a. \nStreet #', '6b. \nStreet Name', '6c. \nStreet Suffix  ','6d.\n Unit #']] = temp['6b. \nStreet Name'].apply(parse_address).apply(pd.Series)

8 Westminster Ave Apt 1
17 Cazenove Street  Apt. BW
1156 Commonwealth Ave #49
770 Boylston Street  Apt. 3J
45 Stuart Street  #2804
1152 Commonwalth Avenue
630 Washington Street #405
27 Topliff St
170 Tremont Street
504 Beacon St
580 Washington St Unit 312
580 Washington St.
29 Saint Margret St.
401 Mount Vernon Street  Apt. 724
580 Washington St.
45 Fairbanks St
368 Riverway
1079 Commonweather Ave #327
1079 Commonwealth Ave  Apt. 505
101 Canal St
196 Hillside Street
79 Howland St
12 Kevin Rd
50 Harbor point blvd
1540 Tremont St
89 E Squantum Street
12 Hancock Street
12 Kevin rd
62 Boylston St Apt. 915
506 Beacon Street
660 Washington St
10 Parkerhill Ave
4 Fountain Place Apt. 5
217 Kelton Street  Unit 14
277 Marlborough st
276 Corey Rd  Apt #23
77 Walk Hill St
660 Washington Street
858 Huntington Ave Apt 1
32 Gallivan Blvd
50 Lewis St.
323 Beacon Street
660 Washington St.
9 Crestnay
66 Beach Point Place
12 Kevin Rd
61 South Huntington Ave  #203
1 Nassau St Apt. 907
630 Washington St
150 Huntington Avenue  Apt. SN4
301 Atlantic Street
660 Washington Street
18 Angell St
50 Lewis St.
520 Cambridge St  Apt 7a
580 Washington Street
1179 Boylston St  Apt 10
101 Canal street
80 Marlborough st
301 Atlantic Street
62 Boylston St #710
37 Concord St
154 Edgemere Road
624 Hyde Park Ave
P.O. Box 260702
1463 Bluehill Avenue Apt#3
1016 River St
62 Boylston St
1 Nassau St Apt. 516
660 Washington St Apt. 22K
85 Brainerd Rd #503
41 Whitfield Street Apt. 2
15 Shandon Road
44 Winter St  Apt 304
8 Verrill St Apt 1
755 Linden St
30 Dalrymaple St
1185 Boylston St #4
3 Avery Street
271 Dartmouth St
8 Notre Dame Street
101 Canal St  Apt 829
P.O.Box 260565
31 Gleason Street
20 Rogers St.
141 Meridian Street
23 Fleet Street
1 avery st  apt. 10 e
1 avery st  apt. 11b
1 avery street  apt. 26c
1 franklin st  apt. 1214
1 franklin street #2114
1 franklin street  apt. 2110
1 franklin street  apt. 3109
1 leighton st.  apt. 728
1 pine tree lane
10 parkerhill ave
101 canal street
1016 river st
106 harrishof st
107 gordon st
1079 commonwealth ave
109 elm hill ave  apt #9
110 beverly st  apt. 929
112b ward st
114 camden st apt 2
116 beacon street
12 hancock street
12 nahant ave apt 3
12 shelby st
1238 commonwealth ave. apt. #21
126 madison park ct
1292 commonwealth avenue
1365 boylston street
137a lucerne st
144 glenway st apt 2
15 s point dr apt 405
15 sumner st  apt. 3
150 brookline ave
150 hunting ave
150 huntington ave
150 huntington ave  apt. sl6
150 riverway street
1540 tremont st
157 washington st apt 32
160 strathmore road
162 devon st. apt. 2
165 tremont st
17 arlington st
170 tremont street
178 highland st apt 2
179 marlborough st
2 hancock street
2 hancock street
2 hancock street
2 meadowbank ave
20 charles st.
204 beacon street apt 2f
207 magnolia st apt #3
217 kelton street  unit 14
22 monmouth st
231 quincy st apt 2
24 atkins st. apt. #2
25 lyon st
260 maverick st apt 1
271 dartmouth st
277 marlborough street
282 blue ledge dr
30 mamelon circle
300 ashmont st.
31 edison green
3125 washington st apt 3
324 chestnut hill ave
341 tremont st. apt.6
358 princeton street
358 princeton street apt. 2
359 meridian st #3
375 mount vernon st
4 cambridge terrace apt. 3
4 marlowe street
4 old landing way
40 elmer road
40 sheafe street
42 park vale ave  apt. 4
46 vine street apt 5
472 metropolitan avenue
5 semont rd
50 lewis st.
51 church street
55 kingsdale st
56 roundhil st
580 washington st
580 washington st.  apt. 3c
580 washington street
6 north point drive
61 south huntington ave  #203
62 boylston st
62 boylston st
62 boylston st
62 boylston street
62 boylston street
62 boylston street
65 morton village dr apt 202
66 beach point place
660 washington st
660 washington st apt. 22k
660 washington st. apt. 25m
660 washington street
660 washington street
660 washington street
660 washington street  apt 4g
705 washington st apt 2
71 riverview rd
75 saint alphonsus street
75 saint alphonsus street
79 gainsborough st. apt. 005
79 howland st
79 radcliffe st
80 archdale rd.
83 maple st.
84 gainsborough st  room 305
85 brainerd rd
85 brainerd road  apt.212
87 marion st
89 e squantum street  apt. 7
906 truman highway
91 fowler st
91 westland ave
91 westland ave
93 alexander st
93 harrishof street apt.2
95 w squantum st

In [79]:
temp.head()

,6a. \nStreet #,6b. \nStreet Name,6c. \nStreet Suffix,6d.\n Unit #,6e. \nZip,7. \nUndergraduate (U) or Graduate (G),8. \nFull-time (FT) or \nPart-time (PT),9. \n 5 or More Undergrads/Unit\n(Y/N),University,Year,Unnamed: 8,Home address,Current address same as home address,SMFA student,7. \nUnderGaduate (U) or Gaduate (G),8. \nFT-time (FT) or \nPT-time (PT)
13229,8.0,Westminster,Ave,Apt 1,2134.0,UG,FT,NaN,Fisher College,2016-2017,NaN,NaN,NaN,NaN,NaN,NaN
13230,17.0,Cazenove,Street,Apt. BW,2199.0,UG,FT,NaN,Fisher College,2016-2017,NaN,NaN,NaN,NaN,NaN,NaN
13231,1156.0,Commonwealth,Ave,#49,2116.0,UG,FT,NaN,Fisher College,2016-2017,NaN,NaN,NaN,NaN,NaN,NaN
13232,770.0,Boylston,Street,Apt. 3J,2134.0,UG,PT,NaN,Fisher College,2016-2017,NaN,NaN,NaN,NaN,NaN,NaN
13233,45.0,Stuart,Street,#2804,2111.0,UG,FT,NaN,Fisher College,2016-2017,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
temp.to_csv("Fisher College.csv")